<div class="row">
	<div class="col-sm-12">
		<div class="col-12 row" style="padding-right:0px;" >
            <div class="col-8">
			     <h4 class="page-title">Unit Addition Details</h4>
			</div>  
            <div class="col-4 text-right" style="padding-right:0px;">
				<a class="btn btn-secondary btn-sm active" href="#" role="button" *ngIf="id" [routerLink]="['/change-scope/unit-addition/list']" >Back to Request List</a>
			</div>
		</div>	
	</div>
</div>


<div class="row" *ngIf="additiondata" >
    <div class="col-sm-12 mat-accordion">
			
        <div class="clearfix"></div>

        <div class="mat-accordion">
            <div class="card-box enq-view">
                <h3>Addition Details</h3>
                <table class="table-secondary m-b-15">
                    <tr>
                        <th width="20%">Company Name</th>
                        <td width="30%">{{ additiondata.company_name }}</td>
                        <th width="20%">Status</th>
                        <td width="30%">{{ additiondata.status_label }}</td>
                    </tr>
                    <tr>
                        <th width="20%">Created By</th>
                        <td width="30%">{{ additiondata.created_by }}</td>
                        <th width="20%">Created Date</th>
                        <td width="30%">{{ additiondata.created_at }}</td>
                    </tr>
                </table>
            </div>

        </div>

        <div style="margin-bottom:10px; margin-top:10px;">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        View Application Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <div class="row" *ngIf="app_id" >
                        <div class="col-sm-12">
                            <div class="clearfix"></div>			
                            <app-appdetail [id]="app_id" ></app-appdetail>							
                        </div>				
                    </div>
                </mat-expansion-panel>                
            </mat-accordion>
        </div>
    </div>				
</div>

<ng-container *ngIf="applicationdata">
    <div class="un-lst"><h3>New Unit Details</h3></div>
    <div *ngFor="let unit of applicationdata.new_units; index as i" style="margin-bottom:5px;" >
        <mat-accordion >
            <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    {{ unit.unit_type_name}} : {{ unit.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="card-box enq-view">
                
                    <h3>{{ unit.unit_type_name}} Details</h3>
                    <table class="table-secondary m-b-15">
                        <tr>
                            <th width="20%">Name</th>
                            <td width="30%">{{ unit.name }}</td>
                            <th width="20%">Postal Code</th>
                            <td width="30%">{{ unit.zipcode }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Address</th>
                            <td colspan="3">{{ unit.address }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Country</th>
                            <td width="30%">{{ unit.country_id_name }}</td>
                            <th width="20%">State</th>
                            <td width="30%">{{ unit.state_id_name }}</td>
                        </tr>
                        <tr>
                            <th width="20%">City</th>
                            <td width="30%">{{ unit.city }}</td>
                            <th width="20%">No. of Employees</th>
                            <td width="30%">{{ unit.no_of_employees }}</td>
                        </tr>
                    </table>
                    
                    <div class="mat-accordion">
                        <div class="card-box enq-view">
                            <h3>{{ unit.unit_type_name}} Product Details</h3>
                             
                                <table class="table table-bordered col-12" style="font-size:13px;">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="center">S.No</th>
                                        <th scope="col"  >Product Category</th>
                                        <th scope="col"  >Type of Product</th>
                                        <th scope="col" class="center" >Wastage (%)</th>
                                        <th scope="col" >Material Composition</th>
                                        <th scope="col"  >Standard</th>
                                        <th scope="col"  >Label Grade</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                         
                                            <tr *ngFor="let product of unit?.product_details; index as is;">
                                                <td scope="row" class="center"   >{{  1+ is }}</td>
                                                <td >{{ product.name }}</td>
                                                <td >{{ product.product_type_name }}</td>
                                                <td class="center">{{ product.wastage }}</td>
                                                <td >
                                                    {{ product.materialcompositionname }}
                                                </td>
                                                <td>{{ product.standard_name }}</td>
                                                <td>{{ product.label_grade_name }}</td>
                                            </tr> 
                                                  
                                    </tbody>
                                </table>
                                 
                            <!--<ul>
                                <li style="width:100%;"><span class="label-pad">Products</span>   <span class="name-pad" style="width:100%;"><span *ngFor="let prd of unit.products; let isLast=last;" >{{ prd }} {{isLast ? '' : ', '}}</span></span></li>
                            </ul>-->
                        </div>
                    </div>
                    
                    <div class="card-box enq-view lst greybg">
                        <h3>Standard Information</h3>
                        <table class="table-secondary m-b-15">
                            <tr>
                                <th width="20%">Standard(s)</th>
                                <td width="80%">
                                    <ul>
                                        <li *ngFor="let standard of unit.standarddetails; ">
                                        <span>{{ standard.name }}</span></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>	
                    </div>

                    <div class="card-box enq-view lst greybg">																																																																																																																																																																																																																																																								
                        <h3>Business Sector Information</h3>
                        <table class="table-secondary m-b-15">
                            <tr>
                                <th width="20%">Business Sector(s)</th>
                                <td width="80%">
                                    <ul>
                                        <li *ngFor="let bsector of unit.bsectorsdetails | keyvalue" >
                                            <div class="row col-12">
                                                <div class="col-2">{{ bsector.value }}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>	
                        
                    </div>
                                            
                    <div class="mat-accordion">
                        <div class="card-box enq-view">
                            <h3>{{ unit.unit_type_name}} Process Details</h3>
                            <table class="table-secondary m-b-15">
                                <tr>
                                    <th width="20%">Process(es)</th>
                                    <td width="80%"><span *ngFor="let prs of unit.process; let isLast=last;" >{{ prs }} {{isLast ? '' : ', '}}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="card-box enq-view m-t-15" *ngIf="unit.certified_standard">
                        <h3>{{ unit.unit_type_name}} Certified Standard Details</h3>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="center">S.No</th>
                                <th>Standard</th>
                                <th>License Number</th>
								<th class="center">Expiry Date</th>
                                <th>Attachment</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cstandard of unit.certified_standard; index as i">
                                    <td class="center">{{i+1}}</td>
                                    <td>{{ cstandard.standard }}</td>
                                    <td>{{ cstandard.license_number }}</td>
								    <td class="center">{{ cstandard.expiry_date }}</td>
                                    <td>
                                        <span *ngFor="let file of cstandard.files; let isLast=last;" >
                                        
                                            <a href="javascript:void(0);" (click)="downloadFile(file.id,file.name);openmodal(downloading);" >{{ file.name }}</a>
                                            
                                            {{isLast ? '' : ', '}}
                                    </span></td>
                                </tr>                
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </mat-expansion-panel>                
        </mat-accordion>
    </div>
</ng-container>
<ng-template #downloading let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">File Downloading</h4>
	</div>
	<div class="modal-body" style="font-size:16px;">
		Please wait, your file is downloading ...
	</div>
</ng-template>