<div class="col-12 row pad-right" >
	<div class="col-8">
		<h4 class="page-title">{{title}}</h4>
	</div>
	<div class="col-4 text-right pad-right">
		<a class="btn btn-secondary btn-sm active" href="#" role="button" [routerLink]="['/master/standardreduction/list']"><i class="fa fa-arrow-left text-white"></i> Back</a>
	</div>
</div>
<div class="row">
    <div class="col-12">
        <div class="add card-box table-responsive">
            <form  [formGroup]="form" (ngSubmit)="onSubmit()"  >
                            				
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enq-view">

					<div>
						<h3>Standard Details</h3>                 
									
						<div class="form-group row p-b-10">						
							<div class="col-4">
								<label>Standard <span class="text-danger">*</span></label>
								<select formControlName="standard_id" class="form-control select2" [class.is-invalid]="f.standard_id.invalid && f.standard_id.touched ">
									<option value="" >-- Standard --</option>
									<option *ngFor="let standard of standardList" value= {{standard.id}}>{{standard.name}}</option>
								</select>
								<div *ngIf="f.standard_id.errors" class="invalid-feedback">
									<div *ngIf="f.standard_id.errors.required">Standard is required</div>
									<div *ngIf="f.standard_id.errors.incorrect">{{ standard_idErrors }}</div>
								</div>
							</div>						
						</div>		
						
						<h3>Standard Reduction Details</h3>  
						<div class="form-group row">
																				
							<div class="tbl-sec">
								<table id="datatable" class="table table-bordered tab-bor col-12" >
									<thead>
									<tr>
										<th width="5%" scope="col" class="center">S.No</th>
										<th scope="col">Standard</th>
										<th scope="col">Reduction Percentage (%)</th>
										<th width="8%" scope="col" class="center">Action</th>
									</tr>
									</thead>
									<tbody>
										<tr *ngIf="reductionEntries?.length==0">
												<td colspan="4" class="center">No Reduction Added</td>
										</tr>
										<tr *ngFor="let reductionEntry of reductionEntries; let i=index; ">
											<td scope="row" class="center">{{  1+ i }}</td>
											<td>{{ reductionEntry.reduction_standard_name }}</td>
											<td>{{ reductionEntry.reduction_percentage }}</td>
											<td  class="center">
											<a href="javascript:void(0);" (click)="editReduction(reductionEntry.reduction_standard_id)" title="Edit" alt="Edit"> <i class="fa fa-edit"></i> </a>
											&nbsp;&nbsp;
											<a href="javascript:void(0);" (click)="removeReduction(reductionEntry.reduction_standard_id)" title="Delete" alt="Delete"> <i class="fa fa-trash text-danger"></i> </a>
											</td>
										</tr>
									</tbody>
								</table>
								<div *ngIf="reduction_standard_id_existErrors" class="validationerror" >
										{{ reduction_standard_id_existErrors }}
								</div>
							</div>
							
							<div class="row col-12 prd-lab">
								<div class="col-4">
									<label>Reduction Standard <span class="text-danger">*</span></label>
									
									<select formControlName="reduction_standard_id" class="form-control select2" (change)="checkStandardReduction();">
										<option value="" >-- Standard --</option>
										<option *ngFor="let standard of reductionStandardList" value= {{standard.id}}>{{standard.name}}</option>
									</select>
									
									<div *ngIf="reduction_standard_idErrors" class="validationerror" >
											{{ reduction_standard_idErrors }}
									</div>
								</div>
							
								<div class="col-4">
									<label>Reduction Percentage <span class="text-danger">*</span></label>
									<input type="text" formControlName="reduction_percentage"  class="form-control" placeholder="Percentage" (change)="checkStandardReduction();">
									<div *ngIf="reduction_percentageErrors" class="validationerror" >
										{{ reduction_percentageErrors }} 
									</div>
								</div>						
								
								<div class="col-4" style="padding-top:25px;">
									<a class="btn btn-secondary btn-sm active" href="javascript:void(0);" role="button" (click)="addReduction()"  >{{ editStatus ? 'Update':'Add'}} Reduction</a>
									<a class="btn btn-secondary btn-sm active ml-2" href="javascript:void(0);" role="button" (click)="resetReduction()"  >Reset</a>
								</div>
							</div>
							
						</div>
																			
																			
						<div class="col-lg-12 text-center mt-4 mb-4">
							<button [disabled]="loading || buttonDisable" class="btn btn-success btn-custom waves-effect w-md waves-light m-b-5">
								<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
								{{ editStatus ? 'Update':'Submit'}}
							</button>
							<button [disabled]="loading || buttonDisable" type="button" [routerLink]="['/master/standardreduction/list']" class="btn btn-secondary active grey btn-custom waves-effect w-md waves-light m-b-5 ml-2">
								<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
								Cancel
							</button>

							<div class="clearfix"></div>
							
							<app-usermessage [success]="success" [error]="error"  ></app-usermessage>
						</div>
						
						<div class="col-lg-12 error">
						Note: After completing your actions, please click "Submit" button to store the data.
						</div>
						
					</div>
						
				</div>
                 
            </form>
        </div>
    </div>
</div>
