
<div class="login-div">
	<div class="wrapper-page">

		<div class="text-center">
			<a href="javascript:void(0);" class="logo-lg"><img src="assets/images/login-logo.png" alt=""></a>
		</div>
		<!-- (ngSubmit)="onSubmit()"-->
		<form class="form-horizontal login-form m-t-20" [formGroup]="forgotpasswordForm" >
			<h2>Forgot Password</h2>
			
			<div class="form-group">
				<label>Please fill out your Username. A link to reset password will be sent to your email.</label>
				<div class="m-t-10">
					<div class="input-group">
						<span class="input-group-addon"><img src="assets/images/user-ico.png"></span>
						<input class="form-control" type="text" minlength="6" formControlName="username" placeholder="Username *" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autofocus />
					</div>					
					<div *ngIf="submitted && f.username.errors" class="invalid-feedback-login">
						<div *ngIf="f.username.errors.required">Username is required</div>
						<div *ngIf="f.username.errors.minlength">Username must be at least 6 characters</div>
						<div *ngIf="f.username.hasError('whitespace')">Please enter valid Username</div>
					</div>
				</div> 
			</div>
			
			<div class="form-group row">
				<div class="col-12">
					<!--<re-captcha (resolved)="resolved($event)" siteKey="6LfWAssUAAAAAPcUBOgIQa1yd7CxTN3YeMFwWS_f"></re-captcha>
					<div *ngIf="recaptchaErrors" class="validationerror">{{ recaptchaErrors }}</div>					-->
				</div>
			</div>

			<!--
			<img src="assets/images/robot.jpg" alt="" class="img-fluid">
			-->
			
			<!--<div style="width:324px;">&nbsp;</div>-->
			
			
			<div class="form-group row m-t-20">
				<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">			
					<button (click)="executeImportantAction()" [disabled]="loading || buttonDisable" class="btn btn-primary btn-custom w-md waves-effect waves-light">
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						Send
					</button>
				    <button [disabled]="loading || buttonDisable" type="button" [routerLink]="['/login']" class="btn btn-secondary active grey btn-custom waves-effect w-md waves-light m-l-10">
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						Cancel
					</button>
				</div>
				
				<!--
				<div [disabled]="loading || buttonDisable" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
					<a [routerLink]="['/login']" class="text-muted"> Cancel ? </a>
				</div>
				-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<app-usermessage [success]="success" [error]="error"  ></app-usermessage>
				</div>
			</div>

		   
		</form>
	</div>
</div>

<div class="col-lg-12 text-center log-in-footer">
	Copyright &copy; {{ year$ | async }} GCL International Ltd | All Right Reserved 
</div>