<div class="col-12 row pad-right" >
	<div class="col-8">
		<h4 class="page-title">{{title}}</h4>
	</div>
	<div class="col-4 text-right pad-right">
		<a class="btn btn-secondary btn-sm active" href="#" role="button" [routerLink]="['/master/business-sector-group/list']"><i class="fa fa-arrow-left text-white"></i> Back</a>
	</div>
</div>
<div class="row">
    <div class="col-12">
        <div class="add card-box table-responsive">
            <form  [formGroup]="form" (ngSubmit)="onSubmit()"  >
                                                              
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enq-view">
					
					<div class="form-group row">

                        <div class="col-6">
							<label>Group Code <span class="text-danger">*</span></label>
							<input type="text" formControlName="group_code" [class.is-invalid]="f.group_code.invalid &&
							f.group_code.touched " class="form-control" placeholder="Group Code" >
							<div *ngIf="f.group_code.errors" class="invalid-feedback">
								<div *ngIf="f.group_code.errors.required">Group Code is required</div>
								<div *ngIf="f.group_code.errors.pattern || f.group_code.hasError('whitespace')">Invalid Group Code</div>
								<div *ngIf="f.group_code.errors.maxlength">Group Code cannot exceed 255 characters</div>
								<div *ngIf="f.group_code.errors.incorrect">{{ group_codeErrors }}</div>	
							</div>
						</div>   

                        <div class="col-6">
							<label>Standard <span class="text-danger">*</span></label>
							<select formControlName="standard_id" [class.is-invalid]="f.standard_id.invalid && f.standard_id.touched" class="form-control select2">
								<option value="">-- Standard --</option>
								<option *ngFor="let standard of standardList" value= {{standard.id}}>{{standard.name}}</option>
							</select>
							<div *ngIf="f.standard_id.errors" class="invalid-feedback">
								<div *ngIf="f.standard_id.errors.required" >Standard is required</div>
							</div>							
						</div>

					</div>
					<div class="form-group row">

                        <div class="col-6">
							<label>Business Sector <span class="text-danger">*</span></label>
							<select formControlName="business_sector_id" [class.is-invalid]="f.business_sector_id.invalid && f.business_sector_id.touched" class="form-control select2">
								<option value="">-- Business Sector --</option>
								<option *ngFor="let bsector of bsectorList" value= {{bsector.id}}>{{bsector.name}}</option>
							</select>
							<div *ngIf="f.business_sector_id.errors" class="invalid-feedback">
								<div *ngIf="f.business_sector_id.errors.required" >Business Sector is required</div>
							</div>							
						</div>
						<!--
                        <div class="col-6">
							<label>Process</label>
							<mat-select placeholder="Process *" formControlName="process" multiple class="form-control select2" [class.is-invalid]="f.process.invalid &&
							f.process.touched">
								<mat-select-trigger>
								<span *ngIf="f.process.value?.length == 1" >{{f.process.value ?  getSelectedValue('process',f.process.value) : ''}}</span>
								<span *ngIf="f.process.value?.length > 1" class="example-additional-selection">
									{{f.process.value.length}} {{ 'selected' }}
								</span>
								</mat-select-trigger>
								<mat-select-search formControlName="processFilterCtrl" ></mat-select-search>
								<mat-option *ngFor="let processd of filteredprocessMulti | async" [value]="processd.id">{{processd.name}}</mat-option>
							</mat-select>
							<div *ngIf="f.process.errors" class="invalid-feedback">
								<div *ngIf="f.process.errors.required"> Process cannot be blank.</div>
							</div>
						</div> 
					-->
					</div>
					
					<div class="form-group row">								
						<div class="col-8">
							<label>Group Details</label>
							<textarea formControlName="group_details" class="form-control" placeholder="Group Details" [class.is-invalid]="f.group_details.invalid && f.group_details.touched" ></textarea> 
						    <div *ngIf="f.group_details.errors" class="invalid-feedback">								
								<div *ngIf="f.group_details.errors.pattern || f.group_details.hasError('whitespace')">Invalid Group Details</div>								
							</div> 
						</div>
					</div>
													
					<div class="col-lg-12 text-center mt-4 mb-4">
						<button [disabled]="loading || buttonDisable" class="btn btn-success btn-custom waves-effect w-md waves-light m-b-5">
							<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
							{{btnLabel}}
						</button>
						<button [disabled]="loading || buttonDisable" type="button" [routerLink]="['/master/business-sector-group/list']" class="btn btn-secondary active grey btn-custom waves-effect w-md waves-light m-b-5 ml-2">
							<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
							Cancel
						</button>

						<div class="clearfix"></div>
						
						<app-usermessage [success]="success" [error]="error"  ></app-usermessage>
					</div>
						
					
						
				</div>
                 
            </form>
        </div>
    </div>
</div>
