<div class="col-12 row pad-right" >
	<div class="col-8">
		<h4 class="page-title">{{title}}</h4>
	</div>
	<div class="col-4 text-right pad-right">
		<a class="btn btn-secondary btn-sm active" href="#" role="button" [routerLink]="['/master/franchise/list']"><i class="fa fa-arrow-left text-white"></i> Back</a>
	</div>
</div>

<div class="row">
    <div class="col-12">
        <div class="add card-box table-responsive">
            <form  [formGroup]="form" (ngSubmit)="onSubmit()"  >
    
                       
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enq-view">
					<!--
				    <h3>OSS Details</h3>
                    <div class="form-group row">
                        <div class="col-4">
                            <label>First Name <span class="text-danger">*</span></label>
                            <input type="text" formControlName="first_name" [class.is-invalid]="f.first_name.invalid && f.first_name.touched " class="form-control" placeholder="First Name" >
                            <div *ngIf="f.first_name.errors" class="invalid-feedback">
                                <div *ngIf="f.first_name.errors.required" >First Name is required</div>
                                <div *ngIf="f.first_name.errors.maxlength">First Name cannot exceed 255 characters</div>
                                <div *ngIf="f.first_name.errors.pattern || f.first_name.hasError('whitespace')">Invalid First Name</div>
                            </div>
                        </div>
                    
                        <div class="col-4">
                            <label>Last Name <span class="text-danger">*</span></label>
                            <input type="text" formControlName="last_name" [class.is-invalid]="f.last_name.invalid && f.last_name.touched " class="form-control" placeholder="Last Name" >
                            <div *ngIf="f.last_name.errors" class="invalid-feedback">
                                <div *ngIf="f.last_name.errors.required" >Last Name is required</div>
                                <div *ngIf="f.last_name.errors.maxlength">Last Name cannot exceed 255 characters</div>
                                <div *ngIf="f.last_name.errors.pattern || f.last_name.hasError('whitespace')">Invalid Last Name</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Email <span class="text-danger">*</span></label>
                            <input type="text" formControlName="email" [class.is-invalid]="f.email.invalid && f.email.touched " class="form-control" placeholder="Email" >
                            <div *ngIf="f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required" >Email is required</div>
                                <div *ngIf="f.email.errors.maxlength">Email cannot exceed 255 characters</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                <div *ngIf="f.email.hasError('whitespace')">Invalid Email</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label>Telephone <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="telephone" [class.is-invalid]="f.telephone.invalid && f.telephone.touched" class="form-control" placeholder="Telephone" >
                            <div *ngIf="f.telephone.errors" class="invalid-feedback">
                                <div *ngIf="f.telephone.errors.required"> Telephone cannot be blank.</div>
                                <div *ngIf="f.telephone.errors.minlength">Telephone must be at least 8 characters</div>
                                <div *ngIf="f.telephone.errors.maxlength">Telephone cannot exceed 15 characters</div>
                                <div *ngIf="f.telephone.errors.pattern || f.telephone.hasError('whitespace')">Invalid Telephone Number</div>
                            </div>
                        </div>

                        <div class="col-4">
                            <label>Country <span class="text-danger">*</span></label>
                            <select formControlName="country_id" class="form-control select2" (change)="getStateList($event.target.value,'state_id')" [class.is-invalid]="f.country_id.invalid && f.country_id.touched">
                                <option value="" >-- Country --</option>
                                <option *ngFor="let country of countryList" value= {{country.id}}>{{country.name}}</option>
                            </select>
                            <div *ngIf="f.country_id.errors" class="invalid-feedback">
                                <div *ngIf="f.country_id.errors.required"> Country cannot be blank.</div>										
                            </div>
                        </div>
                    
                        <div class="col-4">
                            <label>State <span class="text-danger">*</span></label>
                            <select formControlName="state_id" class="form-control select2" [class.is-invalid]="f.state_id.invalid && f.state_id.touched">
                                <option value="" >-- State --</option>
                                <option *ngFor="let states of stateList" value= {{states.id}}>{{states.name}}</option>
                            </select>
                            <div *ngIf="f.state_id.errors" class="invalid-feedback">
                                <div *ngIf="f.state_id.errors.required"> State cannot be blank.</div>										
                            </div>
                        </div>
                    </div>
					
					<div class="form-group row">
						<div class="col-4">
                            <label>OSS Details <span class="text-danger">*</span></label>
                            <input type="text" formControlName="osp_details" [class.is-invalid]="f.osp_details.invalid && f.osp_details.touched " class="form-control" placeholder="OSS Details" >
                            <div *ngIf="f.osp_details.errors" class="invalid-feedback">
                                <div *ngIf="f.osp_details.errors.required" >OSS Details is required</div>
                                <div *ngIf="f.osp_details.errors.maxlength">OSS Details cannot exceed 255 characters</div>
                                <div *ngIf="f.osp_details.errors.pattern || f.osp_details.hasError('whitespace')">Invalid OSS Details</div>
                            </div>
                        </div>
						
						<div class="col-4">
							<label>OSS No. <span class="text-danger">*</span></label>
							<input type="text" class="form-control" formControlName="osp_number" [class.is-invalid]="f.osp_number.invalid && f.osp_number.touched" class="form-control" placeholder="OSS No." >    
							<div *ngIf="f.osp_number.errors" class="invalid-feedback">
								<div *ngIf="f.osp_number.errors.required">OSS No. cannot be blank.</div>
								<div *ngIf="f.osp_number.errors.maxlength">OSS No. cannot exceed 15 characters</div>
								<div *ngIf="f.osp_number.errors.pattern || f.osp_number.hasError('whitespace')">Invalid OSS No.</div>
							</div>                            
						</div>
					</div>
					-->

                    <div>
                        <h3>OSS Details</h3>
                        <div class="form-group row">
                            
                            <div class="col-4">
                                <label>Company Name <span class="text-danger">*</span></label>
                                <input type="text" formControlName="company_name" [class.is-invalid]="f.company_name.invalid && f.company_name.touched " class="form-control" placeholder="Company Name" >
                                <div *ngIf="f.company_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_name.errors.required" >Company Name is required</div>
                                    <div *ngIf="f.company_name.errors.maxlength">Company Name cannot exceed 255 characters</div>
                                    <div *ngIf="f.company_name.hasError('whitespace')">Invalid Company Name</div>
                                </div>
                            </div>
                        
                            <div class="col-4">
                                <label>Contact Name <span class="text-danger">*</span></label>
                                <input type="text" formControlName="contact_name" [class.is-invalid]="f.contact_name.invalid && f.contact_name.touched " class="form-control" placeholder="Contact Name" >
                                <div *ngIf="f.contact_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.contact_name.errors.required" >Contact Name is required</div>
                                    <div *ngIf="f.contact_name.errors.maxlength">Contact Name cannot exceed 255 characters.</div>
                                    <div *ngIf="f.contact_name.errors.pattern || f.contact_name.hasError('whitespace')">Invalid Contact Name</div>
                                </div>
                            </div>
                            
                            <div class="col-4">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="text" formControlName="company_email" [class.is-invalid]="f.company_email.invalid && f.company_email.touched " class="form-control" placeholder="Email" >
                                <div *ngIf="f.company_email.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_email.errors.required" >Email is required</div>
                                    <div *ngIf="f.company_email.errors.maxlength">Email cannot exceed 255 characters</div>
                                    <div *ngIf="f.company_email.errors.email">Email must be a valid email address</div>	
                                    <div *ngIf="f.company_telephone.errors.pattern  || f.company_email.hasError('whitespace')">Invalid Email</div>	
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group row">
                        
                            <div class="col-4">
                                <label>Telephone <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" formControlName="company_telephone" [class.is-invalid]="f.company_telephone.invalid && f.company_telephone.touched" class="form-control" placeholder="Telephone" >
                                <div *ngIf="f.company_telephone.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_telephone.errors.required"> Telephone cannot be blank.</div>
                                    <div *ngIf="f.company_telephone.errors.minlength">Telephone must be at least 8 characters</div>
                                    <div *ngIf="f.company_telephone.errors.maxlength">Telephone cannot exceed 15 characters</div>
                                    <div *ngIf="f.company_telephone.errors.pattern  || f.company_telephone.hasError('whitespace')">Invalid Telephone Number</div>
                                </div>
                            </div>
							
							<div class="col-4">
                                <label>Mobile </label>
                                <input type="text" class="form-control" formControlName="mobile" [class.is-invalid]="f.mobile.invalid && f.mobile.touched" class="form-control" placeholder="Mobile" >
                                <div *ngIf="f.mobile.errors" class="invalid-feedback">                                    
                                    <div *ngIf="f.mobile.errors.pattern  || f.mobile.hasError('whitespace')">Invalid Mobile Number</div>
                                </div>
                            </div>
                            
                            <div class="col-4">
                                <label>Address Line 1 <span class="text-danger">*</span></label>
                                <textarea  rows="1" formControlName="company_address1" [class.is-invalid]="f.company_address1.invalid && f.company_address1.touched " placeholder="Address Line 1" class="form-control" ></textarea>
                                <div *ngIf="f.company_address1.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_address1.errors.required"  >Address Line 1 is required</div>
                                    <div *ngIf="f.company_address1.errors.pattern  || f.company_address1.hasError('whitespace')">Invalid Address Line 1</div>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                        
						<div class="form-group row">
                            <div class="col-4">
                                <label>Address Line 2</label>
                                <textarea formControlName="company_address2" rows="1" class="form-control" placeholder="Address Line 2" ></textarea>
								<div *ngIf="f.company_address2.errors" class="invalid-feedback">                                    
                                    <div *ngIf="f.company_address2.errors.pattern  || f.company_address2.hasError('whitespace')">Invalid Address Line 2</div>
                                </div>
                            </div>
							
							<div class="col-4">
                                <label>Website </label>
                                <input type="text" class="form-control" formControlName="company_website" class="form-control" placeholder="Website " [class.is-invalid]="f.company_website.invalid && f.company_website.touched">
                                <div *ngIf="f.company_website.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_website.errors.pattern || f.company_website.hasError('whitespace')">Invalid  Website Address</div>
                                </div>
                                Example: http://www.example.com
                            </div>
                            
                            <div class="col-4">
                                <label>Country <span class="text-danger">*</span></label>
                                <select formControlName="company_country_id" class="form-control select2" (change)="getStateList($event.target.value,'company_state_id')" [class.is-invalid]="f.company_country_id.invalid && f.company_country_id.touched " >
                                    <option value="" >-- Country --</option>
                                    <option *ngFor="let country of countryList" value= {{country.id}}>{{country.name}}</option>
                                </select>
                                <div *ngIf="f.company_country_id.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_country_id.errors.required" >Country is required</div>
                                </div>
                            </div>                                                          
                        </div>
                        
                        <div class="form-group row">
							<div class="col-4">
                                <label>State <span class="text-danger">*</span></label>
                                <select formControlName="company_state_id" class="form-control select2" [class.is-invalid]="f.company_state_id.invalid && f.company_state_id.touched ">
                                    <option value="" >-- State --</option>
                                    <option *ngFor="let states of companyStateList" value= {{states.id}}>{{states.name}}</option>
                                </select>
                                <div *ngIf="f.company_state_id.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_state_id.errors.required" >State is required</div>
                                </div>
                            </div>
							
                            <div class="col-4">
                                <label>City <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" formControlName="company_city" [class.is-invalid]="f.company_city.invalid && f.company_city.touched" class="form-control" placeholder="City" >          
                                <div *ngIf="f.company_city.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_city.errors.required">City cannot be blank.</div>
                                    <div *ngIf="f.company_city.errors.maxlength">City cannot exceed 255 characters</div>
                                    <div *ngIf="f.company_city.errors.pattern || f.company_city.hasError('whitespace')">Invalid City</div>	
                                </div>	                      
                            </div>
                            <div class="col-4">
                                <label>Post/Zip Code <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" formControlName="company_zipcode" [class.is-invalid]="f.company_zipcode.invalid && f.company_zipcode.touched" class="form-control" placeholder="Post/Zip Code" >    
                                <div *ngIf="f.company_zipcode.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_zipcode.errors.required">Post/Zip Code cannot be blank.</div>
                                    <div *ngIf="f.company_zipcode.errors.maxlength">Post/Zip Code cannot exceed 15 characters</div>
                                    <div *ngIf="f.company_zipcode.errors.pattern || f.company_zipcode.hasError('whitespace')">Invalid Post/Zip Code</div>
                                </div>                            
                            </div>							
                        </div>
						
						<div class="form-group row">
							<div class="col-4">
                                <label>Tax No./NTN No./GST No./VAT No. </label>
                                <input type="text" class="form-control" formControlName="gst_no" [class.is-invalid]="f.gst_no.invalid && f.gst_no.touched" class="form-control" placeholder="Tax No./NTN No./GST No./VAT No.">                                                               
								<div *ngIf="f.gst_no.errors" class="invalid-feedback">                                    
                                    <div *ngIf="f.gst_no.errors.pattern || f.gst_no.hasError('whitespace')">Invalid Tax No./NTN No./GST No./VAT No.</div>
                                </div>
                            </div>
							
							<div class="col-4">
								<label>OSS Details <span class="text-danger">*</span></label>
								<input type="text" formControlName="osp_details" [class.is-invalid]="f.osp_details.invalid && f.osp_details.touched " class="form-control" placeholder="OSS Details" >
								<div *ngIf="f.osp_details.errors" class="invalid-feedback">
									<div *ngIf="f.osp_details.errors.required" >OSS Details is required</div>
									<div *ngIf="f.osp_details.errors.maxlength">OSS Details cannot exceed 255 characters</div>
									<div *ngIf="f.osp_details.errors.pattern || f.osp_details.hasError('whitespace')">Invalid OSS Details</div>
								</div>
							</div>
							
							<div class="col-4">
								<label>OSS No. <span class="text-danger">*</span></label>
								<input type="text" class="form-control" formControlName="osp_number" [class.is-invalid]="f.osp_number.invalid && f.osp_number.touched" class="form-control" placeholder="OSS No." >    
								<div *ngIf="f.osp_number.errors" class="invalid-feedback">
									<div *ngIf="f.osp_number.errors.required">OSS No. cannot be blank.</div>
									<div *ngIf="f.osp_number.errors.maxlength">OSS No. cannot exceed 15 characters</div>
									<div *ngIf="f.osp_number.errors.pattern || f.osp_number.hasError('whitespace')">Invalid OSS No.</div>
								</div>                            
							</div>
						</div>
                        
                        <h3>Payment Details</h3>
                        <div class="col-12 pad-right">
							<div class="row col-12 pad-left pad-right">
								<div style="width:100%;">
									<div class="form-group row">
										
										<div class="tbl-sec col-12 pad-right">
											<table id="datatable" class="table table-bordered tab-bor col-12" >
												<thead>
													<tr>
														<th scope="col" width="5%" class="center">S.No</th>
														<th scope="col" class="left">Label</th>
														<th scope="col" class="left">Description</th>
														<th scope="col" width="8%" class="center" >Action</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngIf="paymentdatas?.length==0">
														<td colspan="4" class="center">No Payment details Added</td>
													</tr>
													<tr *ngFor="let paymentEntry of paymentdatas; let im=index; ">
														<td scope="row" class="center">{{  1+ im }}</td>
														<td class="left">{{ paymentEntry.payment_label }}</td>
														<td class="left">{{ paymentEntry.payment_content }}</td>
														<td  class="center">
															<a href="javascript:void(0);" (click)="editPayment(im)" title="Edit" alt="Edit"> <i class="fa fa-edit"></i> </a>
															&nbsp;&nbsp;
															<a href="javascript:void(0);" (click)="removePayment(im)" title="Delete" alt="Delete"> <i class="fa fa-trash text-danger"></i> </a>
														</td>
													</tr>
												</tbody>
											</table>
							
										</div>

										<div class="col-4 m-t-15">
											<label>Label <span class="text-danger">*</span></label>
											<input type="text" formControlName="payment_label"  class="form-control" placeholder="Label" [class.is-invalid]="f.payment_label.invalid && f.payment_label.touched">
											<div *ngIf="f.payment_label.errors" class="invalid-feedback">
												<div *ngIf="f.payment_label.errors.required">Label cannot be blank.</div>
												<div *ngIf="f.payment_label.errors.pattern || f.payment_label.hasError('whitespace')">Invalid Label</div>
												<div *ngIf="f.payment_label.errors.maxlength">Label cannot exceed 255 characters</div>
											</div>
										</div>      
										
										<div class="col-5 m-t-15">
											<label>Description <span class="text-danger">*</span></label>
											<input type="text" formControlName="payment_content"  class="form-control" placeholder="Description" [class.is-invalid]="f.payment_content.invalid && f.payment_content.touched">
											<div *ngIf="f.payment_content.errors" class="invalid-feedback">
												<div *ngIf="f.payment_content.errors.required">Description cannot be blank.</div>
												<div *ngIf="f.payment_content.hasError('whitespace')">Invalid Description</div>
											</div>
										</div>   
										
										<div class="col-3 m-t-15">
											<a class="btn btn-secondary btn-sm active" href="javascript:void(0);" role="button" (click)="addDetail()" style="margin-top: 25px;">{{ editStatus ? 'Edit' : 'Add' }} Detail</a>
											<a class="btn btn-secondary btn-sm active ml-2" href="javascript:void(0);" role="button" (click)="resetDetailform()" style="margin-top: 25px;">Reset</a>
										</div>
										
									</div>
								</div>
							</div>
						</div>
                        
                        <div class="col-lg-12 text-center mt-4 mb-4">
                                <button [disabled]="loading || buttonDisable" class="btn btn-success btn-custom waves-effect w-md waves-light m-b-5">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{btnLabel}}
                                </button>
                                <button [disabled]="loading || buttonDisable" type="button" [routerLink]="['/master/franchise/list']" class="btn btn-secondary active grey btn-custom waves-effect w-md waves-light m-b-5 ml-2"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Cancel</button>
                                
                                <div class="clearfix"></div>							
                                
                                <app-usermessage [success]="success" [error]="error"  ></app-usermessage>                                   				
                        </div>
                    </div>
                        
                </div>
                 
            </form>
        </div>
    </div>
</div>
