<div class="login-div">
	<div class="wrapper-page">

		<div class="text-center">
			<a href="javascript:void(0);" class="logo-lg"><img src="assets/images/login-logo.png" alt=""></a>
		</div>

		<form class="form-horizontal login-form m-t-20">
			<h2>Logout</h2>
			<!--
			<div class="col-12 alert alert-success">
				<i class="fa fa-smile-o text-success"></i>
			</div>
			-->
			<div class="col-12 alert alert-success">
				<label class="m-t-15">You have successfully logged out of GCL.</label>					
				<label class="m-t-15">Thank you for using GCL.</label>					
				<label class="m-t-15"><a [routerLink]="['/login']" class="text-success">Click here</a> to login to GCL.</label>			
			</div>			
		</form>
	</div>
</div>

<div class="col-lg-12 text-center log-in-footer">
	Copyright &copy; 2019 GCL International Ltd | All Right Reserved 
</div>