<form>
  
    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive"><div class="row col-12 m-b-5 pad-right">
              <div class="col-8 pad-left">
                <h4 class="page-title"><i class="fa fa-list-ul"></i> Business Sector Group List</h4>
                <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
              </div>
              <div class="col-4 text-right pad-right">
                <a class="btn btn-primary btn-sm" href="#" role="button" [routerLink]="['/master/business-sector-group/add']" *ngIf="userdetails.resource_access==1 || userdetails.rules.includes('add_business_sector_group')"><i class="fa fa-plus text-white"></i> Add Business Sector Group</a>
              </div>
            </div>
            
            <div class="row col-12 m-b-5 pad-right">
                <div class="col-3 text-left pad-left">
                  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <option  *ngFor="let item of paginationList" [ngValue]="item.id">{{ item.name }}</option>
                  </select>
                </div>
                <div class="col-5 text-left">
                  <mat-select style="width: 135px;font-size:13px;" placeholder="-- BSector --" #bsectorFilter name="bsectorFilter" [(ngModel)]="service.bsectorFilter" multiple class="custom-select"  >
                    <mat-select-trigger>
                    <span *ngIf="bsectorFilter.value?.length == 1" >{{bsectorFilter.value ?  getSelectedValue('bsector_id',bsectorFilter.value) : ''}}</span>
                    <span *ngIf="bsectorFilter.value?.length > 1" class="example-additional-selection">
                        {{bsectorFilter.value.length}} {{ 'selected' }}
                    </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let bsector of bsectorList" [value]="bsector.id">{{bsector.name}}</mat-option>
                  </mat-select>
                  &nbsp;&nbsp;
                  <mat-select style="width: 135px;font-size:13px;" placeholder="-- Standard --" #standardFilter name="standardFilter" [(ngModel)]="service.standardFilter" multiple class="custom-select"  >
                    <mat-select-trigger>
                    <span *ngIf="standardFilter.value?.length == 1" >{{standardFilter.value ?  getSelectedValue('relevant_to_id',standardFilter.value) : ''}}</span>
                    <span *ngIf="standardFilter.value?.length > 1" class="example-additional-selection">
                        {{standardFilter.value.length}} {{ 'selected' }}
                    </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let std of standardList" [value]="std.id">{{std.name}}</mat-option>
                  </mat-select>
                </div>
              <div class="col-4 text-right pad-right">
                <input class="search-pad" type="text" name="searchTerm" placeholder="Type here to search" [(ngModel)]="service.searchTerm"/>
              </div>
            </div>
    
            
    
            <div class="col-12 pad-left">
                <table id="datatable" class="table table-bordered" >
                  <thead>
                  <tr>
                    <th width="5%" scope="col" class="center">S.No</th>
                    <th scope="col" sortable="group_code" (sort)="onSort($event)" >Business Sector Group Code</th>			
					<th scope="col" sortable="bsector" (sort)="onSort($event)" >Business Sector</th>
                    <th scope="col" sortable="standard" (sort)="onSort($event)" >Standard</th>	
                    <th width="12%" class="text-center" scope="col" sortable="created_at" (sort)="onSort($event)">Date</th>
                    <th width="12%" scope="col" class="text-center">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bsectorgroup of BusinessSectorGroup$ | async; let i=index; ">
                        <th scope="row" class="center">{{  1+ i + service.pageNo }}</th>
                        <td><ngb-highlight [result]="bsectorgroup.group_code" [term]="service.searchTerm"></ngb-highlight></td>	
                        <td><ngb-highlight [result]="bsectorgroup.bsector" [term]="service.searchTerm"></ngb-highlight></td>	
                        <td><ngb-highlight [result]="bsectorgroup.standard" [term]="service.searchTerm"></ngb-highlight></td>				
                        <td class="text-center"><ngb-highlight [result]="bsectorgroup.created_at" [term]="service.searchTerm"></ngb-highlight></td>
                        
                        <!-- ------ New Code Start Here --------- -->
                        <td class="text-center">
                            <a href="javascript:void(0);" [routerLink]="['/master/business-sector-group/view']" [queryParams]="{id:bsectorgroup.id}" title="View" alt="View" *ngIf="userdetails.resource_access==1 || userdetails.rules.includes('view_business_sector_group')"><i class="fa fa-eye"></i></a>
                            <a href="javascript:void(0);" [routerLink]="['/master/business-sector-group/edit']" [queryParams]="{id:bsectorgroup.id}" class="pl-2" title="Edit" alt="Edit" *ngIf="userdetails.resource_access==1 || userdetails.rules.includes('edit_business_sector_group')"><i class="fa fa-edit"></i></a>
                            <a href="javascript:void(0);" *ngIf="bsectorgroup.status==0 && (userdetails.resource_access==1 || userdetails.rules.includes('deactivate_business_sector_group'))" (click)="open(commonModel,'deactivate',bsectorgroup.id)" class="pl-2" title="Active" alt="Active"><i class="fa fa-toggle-on text-success"></i></a>	
                            <a href="javascript:void(0);" *ngIf="bsectorgroup.status==1 && (userdetails.resource_access==1 || userdetails.rules.includes('activate_business_sector_group'))" (click)="open(commonModel,'activate',bsectorgroup.id)" class="pl-2" title="In-active" alt="In-active"><i class="fa fa-toggle-off text-danger"></i></a>	
                            <a href="javascript:void(0);" *ngIf="userdetails.resource_access==1 || userdetails.rules.includes('delete_business_sector_group')" (click)="open(commonModel,'delete',bsectorgroup.id)" class="pl-2" title="Delete" alt="Delete"><i class="fa fa-trash text-danger"></i></a>	
                        </td>
                        <!-- ------ New Code End Here --------- -->
                        
                    </tr>
                    <tr  *ngIf="(BusinessSectorGroup$ | async)?.length==0" >
                        <td colspan="6" class="center">{{ commontxt.norecords }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            
            <div class="row col-12 pad-left pad-right">
				<div class="col-6">
					<span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
					<div *ngIf="!(service.loading$ | async)">
					Displaying {{ (BusinessSectorGroup$ | async).length>0 ? service.pageNo + 1 : 0 }}-{{ service.pageNo + (BusinessSectorGroup$ | async).length }} of {{ (total$ | async) }} results.
					</div>
				</div>
				<div class="col-6 pad-right text-right">						
				<ngb-pagination maxSize="10" rotate=true boundaryLinks=true class="d-flex justify-content-end" [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
					<ng-template ngbPaginationFirst>First</ng-template>
					<ng-template ngbPaginationPrevious>Prev</ng-template>
					<ng-template ngbPaginationNext>Next</ng-template>			  
					<ng-template ngbPaginationLast>Last</ng-template>			  
				</ngb-pagination>						
				</div>
			</div>
			
          </div>
        </div>
    </div>
    </form>
    
    <!--
    <app-popupmodalmessage [modal]="modal" [alertInfoMessage]="alertInfoMessage" [alertSuccessMessage]="alertSuccessMessage" [alertErrorMessage]="alertErrorMessage"></app-popupmodalmessage>
    -->
    
    <!-- ------ New Code Start Here --------- -->
    <ng-template #commonModel let-modal>
        
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Message</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
                <span class="c-icon" aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body text-center" style="font-size:16px;padding:5px;">
            <div class="alert alert-info" *ngIf="alertInfoMessage">{{alertInfoMessage}}</div>
            <div class="alert alert-success" *ngIf="alertSuccessMessage">{{alertSuccessMessage}}</div>
            <div class="alert alert-danger" *ngIf="alertErrorMessage">{{alertErrorMessage}}</div>
        </div>	
        
        <div class="modal-footer text-center">
            <button type="button" class="btn btn-success" *ngIf="okBtn" (click)="commonModalAction();">Ok</button>
            <button type="button" class="btn btn-outline-secondary" *ngIf="cancelBtn" (click)="modal.dismiss('cancel')">Cancel</button>        
        </div>
        
    </ng-template>
    <!-- ------ New Code End Here --------- -->
    
    
    