RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^.*(Baiduspider|HTTrack|Yandex|Postman).*$ [NC]
RewriteRule .* - [F,L]

php_value post_max_size 256M
php_value upload_max_filesize 256M

php_value max_execution_time 0
php_value memory_limit -1
php_value max_input_time -1
php_value output_buffering 1
php_value pcre.backtrack_limit 5000000