<div class="row">
    <div class="col-12">
        <div class="add card-box table-responsive">
            <form  [formGroup]="form" (ngSubmit)="onSubmit()"  >
            
                <div class="col-12 row pad-right" >
                    <div class="col-8">
                    <h4 class="page-title">Change Password</h4>
                    </div>                    
                </div>
                                  
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enq-view">
					
					<div class="form-group">
					
						<div class="col-6 m-t-15">
							<label>Old Password</label>
							<input type="password" formControlName="old_password" [class.is-invalid]="f.old_password.invalid &&	f.old_password.touched " class="form-control" placeholder="Old Password *" autofocus >
							<div *ngIf="f.old_password.errors" class="invalid-feedback">
								<div *ngIf="f.old_password.errors.required" >Old Password is required</div>
								<div *ngIf="f.old_password.errors.minlength">Old Password must be at least 6 characters</div>	
								<div *ngIf="f.old_password.errors.maxlength">Old Password cannot exceed 15 characters</div>
								<div *ngIf="f.old_password.hasError('whitespace')">Please enter valid Old Password</div>								
							</div>
							<div *ngIf="old_passwordErrors" class="validationerror" >
								{{ old_passwordErrors }} 
							</div>
						</div>  

						<div class="col-6 m-t-15">
							<label>New Password</label>
							<input type="password" formControlName="new_password" [class.is-invalid]="f.new_password.invalid &&	f.new_password.touched " class="form-control" placeholder="New Password *" >
							<div *ngIf="f.new_password.errors" class="invalid-feedback">
								<div *ngIf="f.new_password.errors.required">New Password is required</div>
								<div *ngIf="f.new_password.errors.minlength">New Password must be at least 6 characters</div>
								<div *ngIf="f.new_password.errors.maxlength">New Password cannot exceed 15 characters</div>
								<div *ngIf="f.new_password.hasError('whitespace')">Please enter valid New Password</div>
							</div>			
							
							<div *ngIf="new_passwordErrors" class="validationerror" >
								{{ new_passwordErrors }} 
							</div>
						</div> 
						
						<div class="col-6 m-t-15">
							<label>Confirm Password</label>
							<input type="password" formControlName="confirm_password" [class.is-invalid]="f.confirm_password.invalid &&	f.confirm_password.touched " class="form-control" placeholder="Confirm Password *" >
							<div *ngIf="f.confirm_password.errors" class="invalid-feedback">
								<div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
								<div *ngIf="f.confirm_password.errors.minlength">Confirm Password must be at least 6 characters</div>
								<div *ngIf="f.confirm_password.errors.maxlength">Confirm Password cannot exceed 15 characters</div>
								<div *ngIf="f.confirm_password.errors.mustMatch">Passwords must match</div>
								<div *ngIf="f.confirm_password.hasError('whitespace')">Please enter valid Confirm Password</div>
							</div>
							
							<div *ngIf="confirm_passwordErrors" class="validationerror" >
								{{ confirm_passwordErrors }} 
							</div>
						</div> 
								
						
													
						<div class="col-lg-12 text-center mt-4 mb-4">
							<button [disabled]="loading || buttonDisable" class="btn btn-success btn-custom waves-effect w-md waves-light m-b-5">
								<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
								Change Password
							</button>
									
							<div class="clearfix"></div>
							
							<app-usermessage [success]="success" [error]="error"  ></app-usermessage>
						</div>
						
					</div>
						
				</div>
                 
            </form>
        </div>
    </div>
</div>
