table{
  width:100%;
}

/*h1{
  text-align:center;
  color: rgb(0, 17, 255);

}
#users{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th{
  border:1px solid #ddd;
  padding: 10px;
}

#users tr:nth-child(even){background-color: #ddd;}

#user tr:hover {background-color: #ddd;}

#users th{
  padding-top:12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: white;
}*/