<form #invoiceForm="ngForm">
  
    <div class="row">
      <div class="col-12">
          <div class="card-box table-responsive">
    
            <div class="row col-12 m-b-5 pad-right">
              <div class="col-8 text-left pad-left">
                <h4 class="page-title"><i class="fa fa-list-ul"></i> {{ title }}</h4>
                <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
              </div>
              <div class="col-4 text-right pad-right"  *ngIf="userdetails.resource_access==1 || userType==2 || userdetails.rules.includes('add_tc_application') ">
                <!-- <a class="btn btn-primary btn-sm" href="#" role="button" [routerLink]="['/transaction-certificate/request/add']"> <i class="fa fa-plus text-white"></i> Request TC</a> -->
              </div>
            </div>
            
            <div class="row col-12 m-b-5 pad-right">
				<div class="col-2 text-left pad-left">
					<select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
						<option  *ngFor="let item of paginationList" [ngValue]="item.id">{{ item.name }}</option>
					</select>
				</div>
				<div class="col-7 text-left p-t-2">
					<ng-container  *ngIf="userType!=2">
						<mat-select style="width: 35%;font-size:13px;" placeholder="-- Customer --" #appFilter name="appFilter" [(ngModel)]="service.appFilter" multiple class="custom-select"  >
							<mat-select-trigger>
							<span *ngIf="appFilter.value?.length == 1" >{{appFilter.value ?  getSelectedCustomerValue(appFilter.value) : ''}}</span>
							<span *ngIf="appFilter.value?.length > 1" class="example-additional-selection">
								{{appFilter.value.length}} {{ 'selected' }}
							</span>
							</mat-select-trigger>
							<mat-option *ngFor="let app of appdata" [value]="app.id">{{app.company_name}}</mat-option>					
						</mat-select>
					</ng-container>
					&nbsp;&nbsp;
					<ng-container  *ngIf="userType!=2">
						<mat-select style="width: 30%;font-size:13px;" placeholder="-- OSS --" #franchiseFilter name="franchiseFilter" [(ngModel)]="service.franchiseFilter" multiple class="custom-select"  >
							<mat-select-trigger>
							<span *ngIf="franchiseFilter.value?.length == 1" >{{franchiseFilter.value ?  getSelectedFranchiseValue(franchiseFilter.value) : ''}}</span>
							<span *ngIf="franchiseFilter.value?.length > 1" class="example-additional-selection">
								{{franchiseFilter.value.length}} {{ 'selected' }}
							</span>
							</mat-select-trigger>
							<mat-option *ngFor="let osp of franchiseList" [value]="osp.id">{{osp.osp_details}}</mat-option>					
						</mat-select>
					</ng-container>
					&nbsp;&nbsp;
					<ng-container   *ngIf="type==2">
						<mat-select style="width: 29%;font-size:13px;" placeholder="-- Payment Status --" #paymentStatusFilter name="paymentStatusFilter" [(ngModel)]="service.paymentStatusFilter" multiple class="custom-select"  >
							<mat-select-trigger>
							<span *ngIf="paymentStatusFilter.value?.length == 1" >{{paymentStatusFilter.value ?  getSelectedInvoiceValue(paymentStatusFilter.value) : ''}}</span>
							<span *ngIf="paymentStatusFilter.value?.length > 1" class="example-additional-selection">
								{{paymentStatusFilter.value.length}} {{ 'selected' }}
							</span>
							</mat-select-trigger>
							<mat-option *ngFor="let statuslist of paymentstatuslist" [value]="statuslist.id">{{statuslist.name}}</mat-option>					
						</mat-select>
					</ng-container>
					&nbsp;&nbsp;
        			</div> 
				<div class="col-3 text-right pad-right">
					<input class="search-pad" type="text" name="searchTerm" placeholder="Type here to search" [(ngModel)]="service.searchTerm"/>
				</div>
            </div>
            
            <div class="col-12 pad-left">
                <table id="datatable" class="table table-bordered" >
					<thead>
						<tr>
							<th width="5%" scope="col" class="text-center">S.No</th>
							<th class="text-center" scope="col" (sort)="onSort($event)">Temp TC No / TC No</th>
							<th scope="col" (sort)="onSort($event)">Company Name</th>
							<th width="8%" scope="col">OSS</th>
							<th scope="col" (sort)="onSort($event)">Standard</th>
							<th class="text-center" scope="col" (sort)="onSort($event)">No.of Product</th>
							<th class="text-center" scope="col" sortable="grand_total_net_weight" (sort)="onSort($event)">Net Weight Required (kg)</th>	
							<th class="text-center" scope="col" sortable="grand_total_used_weight" (sort)="onSort($event)">Stock Used (kg)</th>	
							<th scope="col" sortable="buyer_id" (sort)="onSort($event)">Buyer</th>
							<th scope="col" sortable="invoice_status" class="text-center" (sort)="onSort($event)" *ngIf="type==2">Payment Status</th>
							<th width="11%" class="text-center" scope="col" sortable="created_at" (sort)="onSort($event)">Date</th>		
							<th width="7%" scope="col" class="text-center">Action</th>
							<th width="13%" scope="col" class="text-center" *ngIf="type==1 && (userdetails.resource_access==1 || (userType==1 && userdetails.rules.includes('generate_tc_bill')))">Payment Status</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let request of requests$ | async; let i=index; ">
							<th scope="row" class="text-center">{{  1+ i + service.pageNo }}</th>
							<td class="text-center"><ngb-highlight [result]="request.tc_number" [term]="service.searchTerm"></ngb-highlight></td>
							<td><ngb-highlight [result]="request.app_id_label" [term]="service.searchTerm"></ngb-highlight></td>
							<td class="text-center">{{ request.oss_label }}</td>
							<td><ngb-highlight [result]="request.standard_id_code_label" [term]="service.searchTerm"></ngb-highlight></td>
							<td class="text-center"><ngb-highlight [result]="request.no_of_product" [term]="service.searchTerm"></ngb-highlight></td>
							<td class="text-center"><ngb-highlight [result]="request.grand_total_net_weight" [term]="service.searchTerm"></ngb-highlight></td>
							<td class="text-center"><ngb-highlight [result]="request.grand_total_used_weight" [term]="service.searchTerm"></ngb-highlight></td>
							<td><ngb-highlight [result]="request.buyer_id_label" [term]="service.searchTerm"></ngb-highlight></td>
							<td class="text-center" *ngIf="type==2"><ngb-highlight [result]="request.payment_status_label" [term]="service.searchTerm"></ngb-highlight></td>
							<td class="text-center"><ngb-highlight [result]="request.created_at" [term]="service.searchTerm"></ngb-highlight></td>
							<td class="text-center">
								<a href="javascript:void(0);" [routerLink]="['/transaction-certificate/request/view']" [queryParams]="{id:request.id,type:type}" title="View" alt="View"><i class="fa fa-eye"></i> </a>	
							</td>
							<td class="text-center" *ngIf="type==1 && request.invoice_status==0 && (userdetails.resource_access==1 || (userType==1 && userdetails.rules.includes('generate_tc_bill')))">
								<select class="custom-select" (change)="bulkinvoice(request.id,$event.target.value)">
									<option value="">--Select--</option>
									<option  *ngFor="let item of InvoiceOptions | keyvalue" value="{{item.key}}">{{item.value}}</option>
								</select>
							</td>
						</tr>                        
						<tr  *ngIf="(requests$ | async)?.length==0" >
							<td colspan="12" class="center">{{ commontxt.norecords }}</td>
						</tr>
                    </tbody>
                </table>
            </div>
            
            <div class="row col-12 pad-left pad-right">
				<div class="col-6">
					<span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
					<div *ngIf="!(service.loading$ | async)">
					Displaying {{ (requests$ | async).length>0 ? service.pageNo + 1 : 0 }}-{{ service.pageNo + (requests$ | async).length }} of {{ (total$ | async) }} results.
					</div>
				</div>
				<div class="col-6 pad-right text-right">						
				<ngb-pagination maxSize="10" rotate=true boundaryLinks=true class="d-flex justify-content-end" [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
					<ng-template ngbPaginationFirst>First</ng-template>
					<ng-template ngbPaginationPrevious>Prev</ng-template>
					<ng-template ngbPaginationNext>Next</ng-template>			  
					<ng-template ngbPaginationLast>Last</ng-template>			  
				</ngb-pagination>						
				</div>
      </div>
      <div class="col-12 text-right" *ngIf="showBtn()">
		<span class="text-success">Total No. of TC Selected : <b>{{ service.selInoviceIds.length }}</b></span>
		&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" [disabled]="loading" (click)="openmodal(commonModel)">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
      </div>
      <app-usermessage [success]="success" [error]="error"  ></app-usermessage>
			
          </div>
        </div>
      </div>
    
    </form>

    <ng-template #downloading let-modal>
      <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">File Downloading</h4>
      </div>
      <div class="modal-body" style="font-size:16px;">
              Please wait, your file is downloading ...
      </div>
    </ng-template>
    
    <ng-template #commonModel let-modal>
        
      <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
          <span class="c-icon" aria-hidden="true">&times;</span>
            </button>
        </div>
      
        <div class="modal-body text-center" style="font-size:16px;padding:5px;">
        <div class="alert alert-info" *ngIf="alertInfoMessage">{{alertInfoMessage}}</div>
        <div class="alert alert-success" *ngIf="alertSuccessMessage">{{alertSuccessMessage}}</div>
        <div class="alert alert-danger" *ngIf="alertErrorMessage">{{alertErrorMessage}}</div>
      </div>	
      
        <div class="modal-footer text-center" *ngIf="!loading">
        <button type="button" class="btn btn-success" *ngIf="okBtn" (click)="commonModalAction()">Ok</button>
            <button type="button" class="btn btn-outline-secondary" *ngIf="cancelBtn" (click)="modal.dismiss('cancel')">Cancel</button>        
        </div>
      
    </ng-template>