<div class="row" *ngIf="auditPlanData">
    <div class="col-12">
        <div class="card-box table-responsive ">
            <form #form="ngForm"   >
    
        
                <div class="col-12 row" style="padding-right:0px;" >
                    <div class="col-8">
                    <h4 class="page-title">{{title}}</h4>
                    </div>  
                    <div class="col-4 text-right" style="padding-right:0px;">
                        <a class="btn btn-secondary btn-sm active" href="#" role="button" [routerLink]="['/audit/list-audit-plan']" >Back</a>                   
                    </div>
                </div> 
				
				<ng-container *ngFor="let unit of auditPlanData.units; index as ut">
					<table class="table table-bordered tab-bor col-12" >
						<thead>
							<tr>                                        
								<th scope="col" width="50%" style="vertical-align:middle;">{{unit.name}} [<ng-container *ngFor="let std of unit.standards; let stdi=index;">{{std.name}}<span *ngIf="stdi+1!=unit.standards.length">,</span></ng-container>]</th> 
								<!--<th scope="col" width="25%" style="vertical-align:middle;">Quotation Manday(s): {{unit.quotation_manday}}</th> -->
								<th scope="col" width="20%" style="vertical-align:middle;">Actual Manday(s): {{appActualMandayData[ut]}}</th>
								<th scope="col" width="5%" class="center" style="vertical-align:middle;">
									<a href="javascript:void(0);" *ngIf="activeUnit==ut" (click)="closeUnit()" class="text-white" title="Close" alt="Close"><i class="fa fa-close"></i></a>
									<a href="javascript:void(0);" *ngIf="activeUnit!=ut" (click)="editUnit(ut,unit.id)" class="text-white" title="Edit" alt="Edit"><i class="fa fa-edit"></i></a>
								</th>
							</tr>
						</thead>
						<tbody>                                             
							<tr style="background-color:#ffffff !important;" *ngIf="activeUnit==ut">	
								<td colspan="3" width="100%">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enq-view ">				
										<div class="form-group row">														
											<div class="col-3">
												<label>Date(s) <span class="text-danger">*</span></label><br>
												<input style="width: 70%; display: inline;" #auditPlanDates name="unit_date_{{unit.id}}" [(ngModel)]="auditplanlist['unit_date_'+unit.id]" class="form-control"  placeholder="Date *">
												<button mat-icon-button [matMenuTriggerFor]="appMenu">
												<mat-icon>calendar_today</mat-icon>
												</button>
												<mat-menu #appMenu="matMenu" class="drop-calendar" >
													<div (click)="$event.stopPropagation();">
														<mat-calendar #unit_dates (selectedChange)="select($event,unit_dates,unit.id,ut)" [dateClass]="isSelected"></mat-calendar>
														<!--[minDate]="minDate"-->
													</div>
												</mat-menu>
												
											</div>
											
																																					
										</div>
									</div>

									
									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enq-view ">
										<div class="form-group row">
										
										<div class="col-12">
											<label class="text-primary">Justified Person(s)</label><br>
											<table class="table table-bordered auditplanbgsector" style="font-size:13px;">
												<thead>
												<tr>
													<th class="center" width="5%">S.No</th>													
													<th width="25%">Business Sector Group</th>
													<th>Auditor(s)</th>
													<th>Technical Expert(s)</th>
												</tr>
												</thead>
												<tbody>
												<ng-container>
													<tr *ngFor="let bsec of sectorwiseusersList[unit.id]; index as isu;" >
														<td class="center">{{ 1+ isu }}</td>
														<!--
														<td>{{ bsec.group_code }}</td>
														<td *ngIf="bsec.userlistnames">{{ bsec.userlistnames }}</td>
														<td *ngIf="!bsec.userlistnames">No user found</td>
														-->														
														<td>{{ bsec.group_code }}</td>
														<td>{{ bsec.auditorlistnames ? bsec.auditorlistnames : 'No Auditor Found'}}</td>
														<td>{{ bsec.technicalexpertlistnames ? bsec.technicalexpertlistnames : 'No Technical Expert Found'}}</td>	
													</tr>
												</ng-container>
												
												<ng-container *ngIf="sectorwiseusersList[unit.id]===undefined || sectorwiseusersList[unit.id].length <=0">
													<tr>
														<td colspan="4" class="center">No Date Selected</td>
													</tr>
												</ng-container>
											</tbody>
											</table>
											
										</div>
									</div>
									</div>

									<div class="clearfix"></div>
									
									<div class="col-12"><span *ngIf="loadings?.auditor" class="spinner-border spinner-border-sm mr-1"></span></div>
									<div class="col-12">
										<label class="text-primary">Audit Person(s)</label><br>
										<table class="table table-bordered auditplanbgsector" style="font-size:13px;">
											<thead>
												<tr>
													<th width="5%" scope="col" class="center">S.No</th>
													<th width="20%" scope="col">Auditor</th>
													<th scope="col">Date(s)</th>
													<th width="5%" scope="col" class="center">Action</th>
												</tr>																						
											</thead>
											<tbody>	
												<tr *ngIf="!appAuditorsEntries[ut] || appAuditorsEntries[ut]?.length==0">
													<td colspan="4" class="center">No Unit Auditor Added</td>
												</tr>
												<tr *ngFor="let unitAuditor of appAuditorsEntries[ut]; let i=index; ">
													<td scope="row" class="center">{{  1+ i }}</td>
													<td>{{ unitAuditor.auditor_name }}</td>
													<td>
														<!--
														<span *ngFor="let date of unitAuditor.auditor_dates; let last=last;" class="txt-bg-3d">{{ date}}</span>
														-->
														<div *ngFor="let date of unitAuditor.auditor_dates; let last=last;" class="txt-bg-3d center" style="width:100px;float:left;">{{ date}}</div>
													</td>
													<td  class="center">
														<a href="javascript:void(0);" (click)="editUnitAuditor(i,ut,unit.id)" title="Edit" alt="Edit"> <i class="fa fa-edit"></i> </a>														
														<a href="javascript:void(0);" (click)="removeUnitAuditor(i,ut,unit.id)" title="Delete" alt="Delete" class="pl-2"> <i class="fa fa-trash text-danger"></i> </a>
													</td>
												</tr>
												
												 
												
											</tbody>
										</table>
									</div>	
									
									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enq-view m-t-5">				
										<div class="form-group row">														
											<div class="col-4">
												<label>Auditor <span class="text-danger">*</span></label>
												<select name="auditor_name_{{unit.id}}" #auditorName="ngModel" [(ngModel)]="auditorlist['auditor_name_'+ut+'_'+unit.id]" required class="form-control" >
													<option value="">-- Auditor -- </option>
													<option *ngFor="let auditors of auditorList[unit.id]" value="{{auditors.id}}">{{auditors.name}}</option>
												</select>
												
												<!--
												<mat-select placeholder="Auditor *" multiple class="form-control select2">
													<mat-select-trigger>																
													</mat-select-trigger>																
												</mat-select>
												-->
												
												<div class="validationerror" *ngIf="!auditorName.valid && auditorName.touched">
												Please select the Auditor Name.
												</div>	
											</div>
											
											<div class="col-5">
												<label>Date(s) <span class="text-danger">*</span></label><br>
												
												<mat-select name="auditor_dates_{{unit.id}}" placeholder="Date(s) *" #auditordates [(ngModel)]="auditorlist['auditor_dates_'+ut+'_'+unit.id]" multiple class="form-control select2">
													<mat-select-trigger>
													<span *ngIf="auditorlist['auditor_dates_'+ut+'_'+unit.id]" >
														<span *ngIf="auditorlist['auditor_dates_'+ut+'_'+unit.id]?.length == 1">{{auditordates.value}}</span>													
														<span *ngIf="auditorlist['auditor_dates_'+ut+'_'+unit.id]?.length >1" class="example-additional-selection">
															{{auditorlist['auditor_dates_'+ut+'_'+unit.id].length}} {{ 'selected' }}
														</span>
													</span>
													
													</mat-select-trigger>
													<ng-container *ngIf="auditPlanDates.value">
														<mat-option *ngFor="let datesel of auditPlanDates.value.split(' | ')" [value]="datesel">{{datesel}}</mat-option>
													</ng-container>
												</mat-select>
												
											</div>	

											<div class="col-3" style="padding-top:22px;">
												<a class="btn btn-secondary btn-sm active" href="javascript:void(0);" role="button" (click)="addUnitAuditor(ut,unit.id)">+Add</a>
												&nbsp;
												<a class="btn btn-secondary btn-sm active" href="javascript:void(0);" role="button" (click)="resetUnitAuditor(ut,unit.id)">Reset</a>
											</div>														
										</div>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 enq-view m-t-5">
										<div class="col-12 text-primary" style="border-bottom: 1px solid #d7d7d7;padding-left:0px;">
											<label>Other Audit Person(s)</label>
										</div> 
										<div class="form-group row col-12 pad-left pad-right m-t-10">										
											<div class="col-6">
												<label>Lead Auditor <span class="text-danger">*</span></label>
												<!--(change)="getApplicationLeadAuditorList()"-->
												<select name="lead_auditor_{{unit.id}}" (change)="getApplicationLeadAuditorList()"  #leadAuditor="ngModel" [(ngModel)]="auditplanlist['lead_auditor_'+unit.id]" required  style="margin-top:4px;" class="form-control"  >
													<option value="">-- Lead Auditor -- </option>	
													<option *ngFor="let leadAuditor of appUnitLeadAuditorsEntries[ut]" value="{{leadAuditor.id}}">{{leadAuditor.name}}</option>													
												</select>
												<div class="validationerror" *ngIf="!leadAuditor.valid && leadAuditor.touched"> 
												Please select the Lead Auditor
												</div>
											</div>
											
											<div class="col-6">
												<label>Technical Expert</label>
												<select name="technical_expert_{{unit.id}}" (change)="calculateManday(ut,unit.id)" #technicalExpert="ngModel" [(ngModel)]="auditplanlist['technical_expert_'+unit.id]"    style="margin-top:4px;" class="form-control" >
													<option value="">-- Technical Expert -- </option>
													<option *ngFor="let technicalExpert of technicalExpertList[unit.id]" value="{{technicalExpert.id}}">{{technicalExpert.name}}</option>													
												</select>											
											</div>
										</div>	
										<div class="form-group row col-12 pad-left pad-right">		
											<div class="col-6">
												<label>Translator</label>
												<select name="translator_{{unit.id}}" (change)="calculateManday(ut,unit.id)" #translator="ngModel" [(ngModel)]="auditplanlist['translator_'+unit.id]"    style="margin-top:4px;" class="form-control" >
													<option value="">-- Translator -- </option>	
													<option *ngFor="let translator of translatorList[unit.id]" value="{{translator.id}}">{{translator.name}}</option>
												</select>											
											</div>
											<div class="col-6">
												<label>Observer</label>
												<input name="observer_{{unit.id}}" #observer="ngModel" [(ngModel)]="auditplanlist['observer_'+unit.id]" style="margin-top:4px;" class="form-control"    placeholder="Observer">
												
											</div>
										</div>
									    <div class="form-group row col-12 pad-left pad-right">
											<div class="col-6">
											<label>Trainee Auditor</label>
											<input name="trainee_auditor_{{unit.id}}" #trainee_auditor="ngModel" [(ngModel)]="auditplanlist['trainee_auditor_'+unit.id]" style="margin-top:4px;" class="form-control"    placeholder="Trainee Auditor">
											
										</div>
									</div>
									</div>
								</td>																																					
							</tr>		
						</tbody>
					</table>
                </ng-container>  
                <table class="table table-bordered tab-bor col-12" >
					<thead>
						<tr>                                        
							<th scope="col" width="60%" style="vertical-align:middle;">Project Lead Auditor</th> 																	
						</tr>
					</thead>
					<tbody>                                             
						<tr style="background-color:#ffffff !important;">
							<td>
								<div class="col-4">
									<label>Project Lead Auditor <span class="text-danger">*</span></label>
									<select name="application_lead_auditor" #applicationLeadAuditor="ngModel" [(ngModel)]="application_lead_auditor" required  style="margin-top:4px;" class="form-control" >
										<option value="">-- Project Lead Auditor -- </option>
										<option *ngFor="let leadAuditor of appLeadAuditors" value="{{leadAuditor.id}}">{{leadAuditor.name}}</option>	
									</select>
									
									<div class="validationerror" *ngIf="!applicationLeadAuditor.valid && applicationLeadAuditor.touched">
									Please select the Project Lead Auditor.
									</div>
								</div>	
							</td>
						</tr>
					</tbody>
				</table>
				

				<table class="table table-bordered tab-bor col-12" *ngIf="audit_type==2 && auditPlanData.followup_status!=1" >
					<thead>
						<tr>                                        
							<th colspan="2" scope="col" width="60%" style="vertical-align:middle;">Unannounced Audit Details</th> 																	
						</tr>
					</thead>
					<tbody>                                             
						<tr style="background-color:#ffffff !important;">
							<td>
								 
									<label>Share Audit Plan to Customer <span class="text-danger">*</span></label>
									<select name="share_plan_to_customer" #sharePlanToCustomer="ngModel" [(ngModel)]="share_plan_to_customer" required   class="form-control" >
										<option value="">-- Share Audit Plan -- </option>
										<option *ngFor="let shareplan of sharePlanArr | keyvalue" value="{{shareplan.key}}">{{shareplan.value}}</option>	
									</select>
									
									<div class="validationerror" *ngIf="!sharePlanToCustomer.valid && sharePlanToCustomer.touched">
									Please select the Share Audit Plan to Customer.
									</div>
								
								 
							</td>
							<td>
								 
									<label>Reason <span class="text-danger">*</span></label>
									<textarea  rows="1"  name="unannounced_audit_reason" #unAnnouncedAuditReason="ngModel" [(ngModel)]="unannounced_audit_reason" required placeholder="Reason" class="form-control" ></textarea>
									<div class="validationerror" *ngIf="!unAnnouncedAuditReason.valid && unAnnouncedAuditReason.touched">
										Please enter the Reason.
									</div>
								 
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="col-lg-12 text-center">
					<button [disabled]="loading || buttonDisable" class="btn btn-success btn-custom waves-effect w-md waves-light m-b-5 m-t-10" (click)="onSubmit(form)" >
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						Submit
					</button>					
				</div>
				
				<app-usermessage [success]="success" [error]="error"></app-usermessage>			
				
			</form>             
        </div>
    </div>
</div>