<form  [formGroup]="auditconsentForm"  >
<span class="label-pad"  style="width:330px;"><label>{{rad_label}}</label></span> -  <span class="name-pad">
    <input type="radio"  [checked]="f.sel_brand_ch.value=='1'?true:false" formControlName="sel_brand_ch" value="1" >&nbsp; <label for="yes1">Yes</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio"  [checked]="f.sel_brand_ch.value=='2'?true:false" formControlName="sel_brand_ch" value="2">&nbsp;<label for="no2"> No</label>
</span>


<div class="cs-pgm-blue top" *ngIf="f.sel_brand_ch.value==1">
    <div class="col-12 pad-left pad-right">
        <div class="form-group row" *ngIf="unit_type==3">
            <label>Click here to Download the Consent Form. </label>
            <a style="font-size: 20px;" href="javascript:void(0);"  (click)="openmodal(downloading);DownloadFile('consent','Agreement_Consent_Form_Inditex_Suppliers_(R2).docx')" class="pl-2" title="Download" alt="Download"><i class="fa fa-file-pdf-o text-danger"></i></a>
        </div>
        <div class="form-group row">
        <div class="col-4">
            <label>Brands <span class="text-danger">*</span></label>
            <mat-select placeholder="Brands" formControlName="brand_id" multiple class="form-control select2" [class.is-invalid]="f.brand_id.invalid && f.brand_id.touched">
                <mat-select-trigger>
                <span *ngIf="f.brand_id.value?.length == 1" >{{f.brand_id.value ? getSelectedValue('brand_id', f.brand_id.value): ''}}</span>
                <span *ngIf="f.brand_id.value?.length > 1" class="example-additional-selection">
                    {{f.brand_id.value.length}} {{ 'selected' }}
                </span>
                </mat-select-trigger>
                <mat-option *ngFor="let bl of brandlist" [value]="bl.id"  >{{bl.brand_name}}</mat-option>
            </mat-select>
            <!-- [disabled]="(standard_addition_id && unitBSectorDisable[unit_autoid] && unitBSectorDisable[unit_autoid].includes(bsector.id) ) ? true:false" -->
            <div *ngIf="f.brand_id.errors" class="invalid-feedback">
                <div *ngIf="f.brand_id.errors.required" >Brand is required</div>
            </div>	
        </div>
        <div class="col-4" *ngIf="unit_type==3">
            <label>Upload File for Brand</label><br>
            <input type="file" formControlname="brand_file" (change)="brandfileChange($event)"  >
            <br><div style="font-size:11px;" >supported file formats: <span *ngFor="let docs of this.errorSummary.validDocs; let last=last;">{{ docs}}<span *ngIf="!last">, </span> </span></div>
            <div *ngIf="brand_file" style="padding:5px; border:1px solid #cecece; background-color: beige; height:32px;">
                {{ brand_file }}
                <a href="javascript:void(0);"  (click)="removebrandFile()" style="color:red; font-weight:bold;margin-right: 5px;float:right;" >X</a>
            </div>
            <div *ngIf="brandFileError" class="validationerror" >
                {{brandFileError}}
            </div>
        </div>

        </div>
    </div>
</div>

    <div class="col-lg-12 text-center mt-4 mb-4">               
    <button (click)="onSubmit()" [disabled]="loading?.button" class="btn btn-sm btn-success btn-custom waves-effect w-md waves-light m-b-5">
        <span *ngIf="loading?.button" class="spinner-border spinner-border-sm mr-1"></span>
        {{btnLabel}}
    </button>
    <app-usermessage [success]="success" [error]="error"  ></app-usermessage>
    </div>

</form>

<ng-template #downloading let-modal>
    <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">File Downloading</h4>
    </div>
    <div class="modal-body" style="font-size:16px;">
            Please wait, your file is downloading ...
    </div>
  </ng-template>