<!-- <div class="row" *ngIf="offerdata">
	<div class="col-sm-12  p-b-10">
		<div class="page-title-box">
		    <div class="float-left">
				<h4 class="page-title">View Quotation Details</h4>
			</div>
			
			<div class="text-right float-right">
				<a class="btn btn-secondary btn-sm active" href="#" role="button" [routerLink]="['/customer/dashboard']" >Back</a>
			</div>
		</div>	
	</div>
</div> -->

<div class="clearfix"></div>


<div class="row" >
	<div class="col-sm-12">

		<div class="clearfix"></div>
	
		
		
		<div class="mat-accordion">
			<span *ngIf="!offerdata" class="spinner-border spinner-border-sm mr-1"></span>
			<div class="add card-box table-responsive" *ngIf="offerdata">
					
				<div class="col-sm-12">
					<div style="text-align: left;width:48%;float:left;display: inline-block;">
						<img src="{{weburl}}/images/header-img.jpg" border="0">
						
					</div>
					<div style="width:50%;float:right;display: inline-block;">
						<div style="border: 1px solid #d7d7d7;padding:5px;">
							<b>GCL INTERNATIONAL LTD</b><br>
							level 1| Devonshire House|One Mayfair Place London | W1J 8AJ| United Kingdom
						</div>
						<div>
							<p>Quotation Number: {{ offerdata.offer.offer_code }} <br>
							Date: {{offerdata.offer.updated_at}}</p>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
				<div class="col-sm-12 p-t-10">
						<div class="text-center"><h4>QUOTATION/PROFORMA INVOICE</h4></div>
						<table style="border-collapse: collapse;border: 1px solid #d7d7d7;width:100%;">
							<tr>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;" class="font-bold" colspan="5"><u>Part 1 - Company Details</u></td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">Company Name</td>
								<td style="border: 1px solid #d7d7d7;width:2%;" class="text-center">:</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;" colspan="3">{{offerdata.company_name}}</td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">Company Address</td>
								<td style="border: 1px solid #d7d7d7;" class="text-center">:</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;" colspan="3">{{offerdata.address}}, {{offerdata.city}} - {{offerdata.zipcode}}, {{offerdata.country_id_name}}</td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">Attention</td>
								<td style="border: 1px solid #d7d7d7;width:2%;" class="text-center">:</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offerdata.first_name}} {{offerdata.last_name}}</td>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">Standard(s) :</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">
								<span *ngFor="let standard of offerdata?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span>
								</td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">Email</td>
								<td style="border: 1px solid #d7d7d7;width:2%;" class="text-center">:</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offerdata.email_address}}</td>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">Phone:</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offerdata.telephone}}</td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">Unit(s) Name</td>
								<td style="border: 1px solid #d7d7d7;width:2%;" class="text-center">:</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">
								<span *ngFor="let unit of offerdata?.units; let isLast=last;" >{{ unit.name }} {{isLast ? '' : ', '}}</span>
								</td>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">No.of Unit(s)</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offerdata.units.length}}</td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">Audit Type</td>
								<td style="border: 1px solid #d7d7d7;width:2%;" class="text-center">:</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">Initial Audit</td>
								<td style="border: 1px solid #d7d7d7;width:25%;padding-left:5px;">Audit Man day:</td>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offerdata.mandays  | number :'1.1-2'}}</td>
							</tr>
						</table><br>
						<table style="border-collapse: collapse;border: 1px solid #d7d7d7;width:100%;" *ngIf="offerdata.offer"> 
							<tr>
								<td style="border: 1px solid #d7d7d7;border-right: none;width:35%;padding-left:5px;" class="font-bold"><u>Part 2 - Certification Fee</u></td>
								<td style="border: 1px solid #d7d7d7;border-left: none;padding-left:5px;"><b>Description</b></td>
								<td style="border: 1px solid #d7d7d7;width:15%;padding-left:5px;" class="text-center"><b>Amount ({{offerdata.offer.currency}})</b></td>
							</tr>
							<tr *ngFor="let offer_certification_f of offerdata?.offer_certification_fee; let isLast=last;">
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offer_certification_f.activity}}</td>
								<td style="border: 1px solid #d7d7d7;border-left: none;padding-left:5px;">{{offer_certification_f.description}}</td>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right">{{offerdata.offer.currency}} {{offer_certification_f.amount | number :'1.2-2'}}</td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;border-right: none;padding-right:5px;" colspan="2" align="right"><b><u>Sub-Total of Certification Fee:</u></b></td>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{offerdata.offer.currency}} {{offerdata.offer.certification_fee_sub_total | number :'1.2-2'}}</b></td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;"><b><u>Other Expenses</u></b></td>
								<td style="border: 1px solid #d7d7d7;"></td>
								<td style="border: 1px solid #d7d7d7;"></td>
							</tr>
							<tr *ngFor="let offer_other_expense of offerdata?.offer_other_expenses; let isLast=last;">
								<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offer_other_expense.activity}}</td>
								<td style="border: 1px solid #d7d7d7;border-left: none;padding-left:5px;">{{offer_other_expense.description}}</td>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right">{{offerdata.offer.currency}} {{offer_other_expense.amount | number :'1.2-2'}}</td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;border-right: none;padding-right:5px;" colspan="2" align="right"><b><u>Sub-Total of Other Expenses:</u></b></td>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{offerdata.offer.currency}} {{offerdata.offer.other_expense_sub_total | number :'1.2-2'}}</b></td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;border-right: none;padding-right:5px;" colspan="2" align="right"><b><u>Total:</u></b></td>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{offerdata.offer.currency}} {{offerdata.offer.total | number :'1.2-2'}}</b></td>
							</tr>
							
							<tr>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" colspan="2" align="right"><b>{{offerdata.offer.taxname}} Rate</b></td>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{offerdata.offer.currency}} {{offerdata.offer.gst_rate | number :'1.2-2'}}</b></td>
							</tr>
							<tr>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" colspan="2" align="right"><b><u>TOTAL Payable Amount</u></b></td>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{offerdata.offer.currency}} {{offerdata.offer.total_payable_amount | number :'1.2-2'}}</b></td>
							</tr>
							
							<tr *ngIf="offerdata.offer.conversion_required_status==1">
								<td style="border: 1px solid #d7d7d7;" colspan="2" align="center" class="text-center">
									<b>Conversion rate  {{offerdata.offer.currency}} 1.00 = {{offerdata.offer.conversion_currency_code}} {{offerdata.offer.conversion_rate | number :'1.2-2'}}</b>
									<br>
									Conversion rate is valid for next 30 days
								</td>
								<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><strong>{{offerdata.offer.conversion_currency_code}} {{offerdata.offer.conversion_total_payable | number :'1.2-2'}}</strong></td>
							</tr>
							
							<tr>
								<td style="border: 1px solid #d7d7d7;padding-left:5px;" colspan="3" align="left"><b>Charges of TC and LR are not included in the quotation this will be as per the GCL fee structure</b></td>								
							</tr>						
							
						</table>
						<label><u>Travel expenses and Accommodation fee will be born by Operator</u></label>

						<table style="border: none;width:100%;margin-top:25px;"> 
							<tr>
								<td valign="top" style="border:none;font-weight:bold; width:20%;">Agreement Acceptance:</td>
								<td style="border:none;">
									<p>In accepting this agreement, the Company confirms the information contained
									above is correct and agrees to comply with the <b>GCL International Ltd</b> Scheme
									Rules (http://gcl-intl.com/about-us/rules-of-registration/) and agree to pay all fees
									relating to the provision of certification services. All figures are <b>inclusive</b> of all
									expenses.</p>
									<p>The Company shall update <b>GCL International Ltd</b> if there are any changes in legal
									status, organization and management including number of employees, addresses
									and sites, scope of operation and major changes to the management system /
									processes.</p>
								</td>
							</tr>
						</table>	

						<table style="border: none;width:100%;margin-top:15px;" class="center"> 
							<tr>
								<td style="border:none;">Signed:</td>
								<td style="border:none;">............................</td>
								<td style="border:none;">Date:</td>
								<td style="border:none;">............................</td>
							</tr>
						</table>

						<div class="col-lg-12 mt-4" *ngIf="display_type!='only_offer'" >
							<div class="col-lg-12 mt-4" >
								<button type="button" *ngIf="offerdata.offer.offer_status!==offerdata?.offerenumstatus['open']" [disabled]="loading" class="btn but-cust green m-b-5 ml-2" (click)="downloadFile(id,offer_id);openmodal(downloading);" style="width:200px;float: right;">
									<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
									Download
								</button>
							</div>
						</div>
						
						
						<div class="clearfix"></div>						
						<div class="mat-accordion col-12 m-t-10 pad-right pad-left m-b-0"  *ngIf="offerdata?.approve_comment.length>0">
							<div class="un-lst"><h3>Approval Details</h3></div> 
							<div class="mat-accordion card-box enq-view">
								<ul>
									<li><span class="label-pad">Approved By</span>   <span class="name-pad">{{ offerdata.approve_comment[0].created_by_name }}</span></li>				
									<li><span class="label-pad">Approval Date</span>   <span class="name-pad">{{ offerdata.approve_comment[0].created_at }}</span></li>
									<li style="width:100%;"><span class="label-pad">Comment</span>   <span class="name-pad">{{ offerdata.approve_comment[0].comment }}</span></li>
								</ul>
							</div>
						</div>
						
						<div class="clearfix"></div>

						<ng-container *ngIf="offerdata?.reject_comment.length>0" >
							<div class="un-lst col-12" ><h3>Reject Details</h3></div> 

							<mat-accordion *ngFor="let cmt of offerdata.reject_comment; index as i">
								<mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
									<mat-expansion-panel-header>
										<mat-panel-title>
											Reject Details {{i+1}}
										</mat-panel-title>
									</mat-expansion-panel-header>
									<div class="card-box enq-view">
										<ul>
											<li><span class="label-pad">Rejected By</span>   <span class="name-pad">{{ cmt.created_by_name }}</span></li>				
											<li><span class="label-pad">Rejected Date</span>   <span class="name-pad">{{ cmt.created_at }}</span></li>
											<li style="width:100%;"><span class="label-pad">Comment</span>   <span class="name-pad">{{ cmt.comment }}</span></li>						
										</ul>
									</div>
								</mat-expansion-panel>                
							</mat-accordion>
						</ng-container>
						
						<div class="col-lg-12" *ngIf="display_type!='only_offer' && (offerdata.offer.offer_status==offerdata?.offerenumstatus['customer_approved'] || offerdata.offer.offer_status==offerdata?.offerenumstatus['finalized'])" >
							
							 
							<div class="row m-t-15">
								<div class="col-12 pad-right pad-left">
									<div class="card-box enq-view">
										<h3>Agreement Files</h3> 
										<table class="table-secondary m-b-15">
											<tr>
												<th width="20%">Quotation</th>
												<td width="70%"><a href="javascript:void(0);" (click)="downloadUploadedFile(offerdata.offer.offerlist_id,offerdata.offer.quotation_file,'quotation');openmodal(downloading);" ><i class="fa fa-download"></i> {{ offerdata.offer.quotation_file }}</a></td>												
											</tr>
											<tr *ngFor="let processorfile of offerdata.offer.processor_files; let i=index; ">
												<th width="20%">Processor File for {{processorfile.unit_name}}</th>
												<td width="70%"><a href="javascript:void(0);" (click)="downloadUploadedProcessorFile(offerdata.offer.offerlist_id,processorfile.unit_id,processorfile.id,processorfile.processor_file);openmodal(downloading);" ><i class="fa fa-download"></i> {{ processorfile.processor_file }}</a></td>												
											</tr>
										</table>	
										
										
									</div>
								</div>
							</div>
						</div>

							


					<!-- </div> -->
					
				</div>
			</div>
			
			<div *ngIf="offerdata?.offerhistory.length>0 && userdetails.user_type!=2">
				<h4>Quotation History</h4>
				<div *ngFor="let history of offerdata?.offerhistory; let i=index;" >
				<mat-accordion>
					<mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
						<mat-expansion-panel-header>
							<mat-panel-title>
							Quotation Revision {{ 1+ i }}
							</mat-panel-title>
						</mat-expansion-panel-header>
						
							<table style="border-collapse: collapse;border: 1px solid #d7d7d7;width:100%;" *ngIf="offerdata.offerhistory"> 
								<tr>
									<td style="border: 1px solid #d7d7d7;border-right: none;width:35%;padding-left:5px;" class="font-bold"><u>Part 2-Certification Fee</u></td>
									<td style="border: 1px solid #d7d7d7;border-left: none;padding-left:5px;"><b>Description</b></td>
									<td style="border: 1px solid #d7d7d7;width:15%;padding-left:5px;" class="text-center"><b>Amount ({{history.currency}})</b></td>
								</tr>
								<tr *ngFor="let offer_certification_f of history?.fees; let isLast=last;">
									<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offer_certification_f.activity}}</td>
									<td style="border: 1px solid #d7d7d7;border-left: none;padding-left:5px;">{{offer_certification_f.description}}</td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right">{{history.currency}} {{offer_certification_f.amount | number :'1.2-2'}}</td>
								</tr>
								<tr>
									<td style="border: 1px solid #d7d7d7;border-right: none;padding-right:5px;" colspan="2" align="right"><b><u>Sub-Total of Certification Fee:</u></b></td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{history.currency}} {{history.certification_fee_sub_total | number :'1.2-2'}}</b></td>
								</tr>
								<tr>
									<td style="border: 1px solid #d7d7d7;padding-left:5px;"><b><u>Other Expenses</u></b></td>
									<td style="border: 1px solid #d7d7d7;"></td>
									<td style="border: 1px solid #d7d7d7;"></td>
								</tr>
								<tr *ngFor="let offer_other_expense of history?.other_expenses; let isLast=last;">
									<td style="border: 1px solid #d7d7d7;padding-left:5px;">{{offer_other_expense.activity}}</td>
									<td style="border: 1px solid #d7d7d7;border-left: none;padding-left:5px;">{{offer_other_expense.description}}</td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right">{{history.currency}} {{offer_other_expense.amount | number :'1.2-2'}}</td>
								</tr>
								<tr>
									<td style="border: 1px solid #d7d7d7;border-right: none;padding-right:5px;" colspan="2" align="right"><b><u>Sub-Total of Other Expenses:</u></b></td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{history.currency}} {{history.other_expense_sub_total | number :'1.2-2'}}</b></td>
								</tr>
								<tr>
									<td style="border: 1px solid #d7d7d7;border-right: none;padding-right:5px;" colspan="2" align="right"><b><u>Total:</u></b></td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{history.currency}} {{history.total | number :'1.2-2'}}</b></td>
								</tr>
								<tr *ngIf="history.discount!='' && history.discount!='0.00'">
									<td style="border: 1px solid #d7d7d7;border-right: none;padding-right:5px;" colspan="2" align="right"><b><u>Discount:</u></b></td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{history.currency}} {{history.discount | number :'1.2-2'}}</b></td>
								</tr>
								<tr *ngIf="history.discount!='' && history.discount!='0.00'">
									<td style="border: 1px solid #d7d7d7;border-right: none;padding-right:5px;" colspan="2" align="right"><b><u>Grand Total:</u></b></td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{history.currency}} {{history.grand_total_fee | number :'1.2-2'}}</b></td>
								</tr>
								<tr>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" colspan="2" align="right"><b>{{history.taxname}} Rate</b></td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{history.currency}} {{history.gst_rate | number :'1.2-2'}}</b></td>
								</tr>
								<tr>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" colspan="2" align="right"><b><u>TOTAL Payable Amount</u></b></td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><b>{{history.currency}} {{history.total_payable_amount | number :'1.2-2'}}</b></td>
								</tr>
								
								<tr *ngIf="history.conversion_required_status==1">
									<td style="border: 1px solid #d7d7d7;" colspan="2" align="center" class="text-center">
										<b>Conversion rate  {{history.currency}} 1.00 = {{history.conversion_currency_code}} {{history.conversion_rate | number :'1.2-2'}}</b>
										<br>
										Conversion rate is valid for next 30 days
									</td>
									<td style="border: 1px solid #d7d7d7;padding-right:5px;" class="text-right"><strong>{{history.conversion_currency_code}} {{history.conversion_total_payable | number :'1.2-2'}}</strong></td>
								</tr>							
								
							</table>
						
					</mat-expansion-panel>                
				</mat-accordion>
				</div>
			</div>
		
		</div>
	</div>

	
<ng-template #downloading let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">File Downloading</h4>
	</div>
	<div class="modal-body" style="font-size:16px;">
		Please wait, your file is downloading ...
	</div>
</ng-template>
