<div class="col-12 m-t-15">
     
        <div class="review-check" *ngFor="let requirement of interviewrequirements; index as i " >
            <table class="table table-striped tempdrivenform">
                <thead>
                    <tr>
                    <th>{{ requirement.categoryname }}</th>         
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let questiondata of requirement.questions; index as j "  >
                        <td><p>{{ 1+j }}. {{ questiondata.name }}</p>
                            <div class="ans-cmt col-12 row">    
                                <div class="col-4" *ngIf="checklist_sufficient_access">     
                                    <h4>Sufficient <span class="text-danger">*</span></h4>
                                    <div class="row" >
                                        <div class="col-10">
                                            {{ questiondata.answer }}
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-8">
                                    <h4>Comment</h4>
                                    {{ questiondata.comment }}
                                </div>
                            </div>  
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
       
    
    <app-usermessage [success]="success" [error]="error"  ></app-usermessage>
</div>