<div class="row"  >
    <div class="col-12">
        <div class="card-box table-responsive">
        	<div class="row col-12 m-b-5 pad-right">
              	<div class="col-8 pad-left">
                <h4 class="page-title">{{title}}</h4>
                <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
                
              	</div>
               
            </div>
        
            <div class="row col-12 m-b-5 pad-right">
                <div class="col-4 text-left pad-left">
                    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                        <option  *ngFor="let item of paginationList" [ngValue]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-4 text-right">				    
                </div>
               	
                <div class="col-4 text-right pad-right" >
                    Search: <input class="search-pad" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
                </div>
            </div>



            <div class="col-12 pad-left">
                <table id="datatable" class="table table-bordered" >
                    <thead>
                    <tr>
                        <th width="5%" scope="col" class="center">S.No</th>
						<th scope="col">Standard</th>						
                        <th scope="col">Reduction Standards</th>						
						<th scope="col">Percentage</th>
						<th class="text-center" scope="col">Action</th>							
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let entry of Standardreductionmaximum$ | async; let i=index;">
                        <td scope="row" class="center">{{ 1+i+ service.pageNo }}</td>                       								
						<td><ngb-highlight [result]="entry.standard_label"  [term]="service.searchTerm"></ngb-highlight></td>						
						<td><ngb-highlight [result]="entry.standards_label"  [term]="service.searchTerm"></ngb-highlight></td>						
						<td><ngb-highlight [result]="entry.reduction_percentage"  [term]="service.searchTerm"></ngb-highlight></td>																		
						<td  width="10%" class="center">							
							<a href="javascript:void(0);" *ngIf="canEditData" (click)="editData(i,entry)" title="Edit" alt="Edit" > <i class="fa fa-edit"></i> </a>
							&nbsp;&nbsp;
							<a href="javascript:void(0);" *ngIf="canDeleteData" (click)="removeData(confirmcontent,i,entry)" title="Delete" alt="Delete"  > <i class="fa fa-trash text-danger"></i> </a>
						</td>
                    </tr>
                    <tr  *ngIf="(Standardreductionmaximum$ | async)?.length==0" >
                        <td colspan="7" class="center">{{ commontxt.norecords }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination maxSize="10" rotate=true [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>			  
                </ngb-pagination>
            </div>
   		</div>
	</div>
</div>




<div class="row" *ngIf=" canAddData || (canEditData && curData)">
    <div class="col-12">
        <div class="add card-box table-responsive enq-view">
                    
			<h3>{{title}}</h3>                              			
				
			<form  [formGroup]="form">

				<div class="form-group row">
				    
					<div class="col-4">
						<label>Standard <span class="text-danger">*</span></label>
						<select formControlName="standard_id" [class.is-invalid]="f.standard_id.invalid && f.standard_id.touched" class="form-control select2">
							<option value="">-- Standard --</option>
							<option *ngFor="let std of standardList" value = {{std.id}}>{{std.code}}</option>
						</select>
						<div *ngIf="f.standard_id.errors" class="invalid-feedback">
							<div *ngIf="f.standard_id.errors.required" >Standard is required</div>
						</div>	
					</div>				

					<div class="col-4">
						<label>Reduction Standard <span class="text-danger">*</span></label>
						<mat-select placeholder="Reduction Standard" formControlName="standards" multiple class="form-control select2" [class.is-invalid]="f.standards.invalid && f.standards.touched">
							<mat-select-trigger>
							<span *ngIf="f.standards.value?.length == 1" >{{f.standards.value ? getSelectedStandardValue(f.standards.value): ''}}</span>
							<span *ngIf="f.standards.value?.length > 1" class="example-additional-selection">
								{{f.standards.value.length}} {{ 'selected' }}
							</span>
							</mat-select-trigger>
							<mat-option *ngFor="let item of reductionStandardList" [value]="item.id">{{item.code}}</mat-option>
						</mat-select>  
						<div *ngIf="f.standards.errors" class="invalid-feedback">
							<div *ngIf="f.standards.errors.required">Reduction Standard is required</div>
						</div>
					</div>
					
					<div class="col-4">
						<label>Reduction Percentage <span class="text-danger">*</span></label>
						<input type="text" formControlName="reduction_percentage"  class="form-control" placeholder="Reduction Percentage" [class.is-invalid]="f.reduction_percentage.invalid && f.reduction_percentage.touched">
						<div *ngIf="f.reduction_percentage.errors" class="invalid-feedback">
							<div *ngIf="f.reduction_percentage.errors.required">Reduction Percentage is required</div>
						</div>
					</div>	
					
				</div>							
										
				
				<div class="col-lg-12 text-center mt-4 mb-4">
					<button [disabled]="loading['button']" (click)="addData()" class="btn btn-success btn-custom waves-effect w-md waves-light m-b-5">
						<span *ngIf="loading['button']" class="spinner-border spinner-border-sm mr-1"></span>
						{{editStatus == 1 ? 'Update' : 'Save'}}		
					</button>&nbsp;&nbsp;										
					<button [disabled]="loading['button']" (click)="formReset()" class="btn btn-secondary active grey btn-custom waves-effect w-md waves-light m-b-5 ml-2" style="margin-left: 5px;">
						<span *ngIf="loading['button']" class="spinner-border spinner-border-sm mr-1"></span>
						Reset
					</button>
											
					<div class="clearfix"></div>
						
					<app-usermessage [success]="success" [error]="error"  ></app-usermessage>
				</div>										
			
			</form>				
             
        </div>
    </div>
</div>

<ng-template #confirmcontent let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Confirm</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span class="c-icon" aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style="font-size:16px;">
		Are you sure, do you want to delete the data?
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success " (click)="modal.close('selfapprover')">Ok</button>

		<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
	</div>
</ng-template>