<div class="row" *ngIf="dataLoading">
	
	<div class="col-sm-12">
		
		<div class="page-title-box m-b-10">
			<h4 class="page-title"><i class="fa fa-dashboard"></i> {{title}}</h4>
		</div>
		
		
		<div *ngIf="!dashboardData && !dashboardCustomerData" class="col-12 alert alert-info mt-3 mb-0" >
		No data found
		</div>
		<div class="clearfix"></div>
		
		<ng-container  *ngIf="dashboardData">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.pending_actions">			
				<h3>Application Waiting for Review Submission ({{dashboardData.pending_actions.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name</th>
						<th>Standards</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let pending_actions of dashboardData.pending_actions; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/application/apps/view']" [queryParams]="{id:pending_actions.id}"><span class="dashboard-title">{{ pending_actions.company_name }}</span></a></td>					
							<td><span *ngFor="let standard of pending_actions?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>					
							<td width="12%" class="text-center">{{ pending_actions.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/application/apps/view']" [queryParams]="{id:pending_actions.id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>	

		<ng-container  *ngIf="dashboardData">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.waiting_for_oss_offer_approval">			
				<h3>Offer Waiting for Approval ({{dashboardData.waiting_for_oss_offer_approval.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name & Standards</th>
						<th scope="col" class="text-right">Amount</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let pending_actions of dashboardData.waiting_for_oss_offer_approval; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/offer/view-offer']" [queryParams]="{id:pending_actions.app_id,offer_id:pending_actions.offer_id}"><span class="dashboard-title">{{ pending_actions.company_name }}</span></a><br><span *ngFor="let standard of pending_actions?.standards; let isLast=last;" >{{ standard }}{{isLast ? '' : ', '}}</span></td>
							<td width="12%" class="text-right">{{ pending_actions.currency+' '+pending_actions.grand_total_fee }}</td>
							<td width="12%" class="text-center">{{ pending_actions.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/offer/view-offer']" [queryParams]="{id:pending_actions.app_id,offer_id:pending_actions.offer_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>	

		<ng-container  *ngIf="dashboardData && dashboardData.waiting_for_oss_reinitated_offer_approval">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.waiting_for_oss_reinitated_offer_approval">			
				<h3>Re-Initiated Offer Waiting for Approval ({{dashboardData.waiting_for_oss_reinitated_offer_approval.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name & Standards</th>
						<th scope="col" class="text-right">Amount</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let pending_actions of dashboardData.waiting_for_oss_reinitated_offer_approval; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/offer/view-offer']" [queryParams]="{id:pending_actions.app_id,offer_id:pending_actions.offer_id}"><span class="dashboard-title">{{ pending_actions.company_name }}</span></a><br><span *ngFor="let standard of pending_actions?.standards; let isLast=last;" >{{ standard }}{{isLast ? '' : ', '}}</span></td>
							<td width="12%" class="text-right">{{ pending_actions.currency+' '+pending_actions.grand_total_fee }}</td>
							<td width="12%" class="text-center">{{ pending_actions.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/offer/view-offer']" [queryParams]="{id:pending_actions.app_id,offer_id:pending_actions.offer_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>	


		

		
		<ng-container  *ngIf="dashboardData">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.product_addition_review">			
				<h3>Product Waiting for Review Submission ({{dashboardData.product_addition_review.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name</th>
						<th>Standards</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let product_addition_review of dashboardData.product_addition_review; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/change-scope/product-addition/view']" [queryParams]="{id:product_addition_review.id}"><span class="dashboard-title">{{ product_addition_review.company_name }}</span></a></td>					
							<td><span *ngFor="let standard of product_addition_review?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>					
							<td width="12%" class="text-center">{{ product_addition_review.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/change-scope/product-addition/view']" [queryParams]="{id:product_addition_review.id,app:product_addition_review.app_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>
		
		
		<ng-container  *ngIf="dashboardData">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.product_addition_review_reassign">			
				<h3>Re Assign Product Waiting for Review Submission ({{dashboardData.product_addition_review_reassign.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name & Standards</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let product_addition_review_reassign of dashboardData.product_addition_review_reassign; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/change-scope/product-addition/view']" [queryParams]="{id:product_addition_review_reassign.id}"><span class="dashboard-title">{{ product_addition_review_reassign.company_name }}</span></a><br><span *ngFor="let standard of product_addition_review_reassign?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>					
							<td width="12%" class="text-center">{{ product_addition_review_reassign.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/change-scope/product-addition/view']" [queryParams]="{id:product_addition_review_reassign.id,app:product_addition_review_reassign.app_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>
		
		<ng-container  *ngIf="dashboardData">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.tc_waiting_for_review">			
				<h3>TC Waiting for Review Submission ({{dashboardData.tc_waiting_for_review.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name & Standards</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let tc_waiting_for_review of dashboardData.tc_waiting_for_review; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/transaction-certificate/request/view']" [queryParams]="{id:tc_waiting_for_review.id}"><span class="dashboard-title">{{ tc_waiting_for_review.company_name }}</span></a><br><span *ngFor="let standard of tc_waiting_for_review?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>					
							<td width="12%" class="text-center">{{ tc_waiting_for_review.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/transaction-certificate/request/view']" [queryParams]="{id:tc_waiting_for_review.id,app:tc_waiting_for_review.app_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>
		
		<ng-container  *ngIf="dashboardData">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.tc_waiting_for_review_reassign">			
				<h3>Re Assign TC Waiting for Review Submission ({{dashboardData.tc_waiting_for_review_reassign.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name & Standards</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let tc_waiting_for_review_reassign of dashboardData.tc_waiting_for_review_reassign; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/transaction-certificate/request/view']" [queryParams]="{id:tc_waiting_for_review_reassign.id}"><span class="dashboard-title">{{ tc_waiting_for_review_reassign.company_name }}</span></a><br><span *ngFor="let standard of tc_waiting_for_review_reassign?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>					
							<td width="12%" class="text-center">{{ tc_waiting_for_review_reassign.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/transaction-certificate/request/view']" [queryParams]="{id:tc_waiting_for_review_reassign.id,app:tc_waiting_for_review_reassign.app_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>
		
		<ng-container  *ngIf="dashboardData">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.unit_withdraw_review">			
				<h3>Unit Withdraw Waiting for Review Submission ({{dashboardData.unit_withdraw_review.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name</th>
						<th>Standards</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let unit_withdraw_review of dashboardData.unit_withdraw_review; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/change-scope/withdraw-unit/view']" [queryParams]="{id:unit_withdraw_review.id}"><span class="dashboard-title">{{ unit_withdraw_review.company_name }}</span></a></td>					
							<td><span *ngFor="let standard of unit_withdraw_review?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>					
							<td width="12%" class="text-center">{{ unit_withdraw_review.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/change-scope/withdraw-unit/view']" [queryParams]="{id:unit_withdraw_review.id,app:unit_withdraw_review.app_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>
		
		
		<ng-container  *ngIf="dashboardData">
			<div class="card-box enq-view m-t-20 " *ngIf="dashboardData.unit_withdraw_review_reassign">			
				<h3>Re Assign Unit Withdraw Waiting for Review Submission ({{dashboardData.unit_withdraw_review_reassign.length}})</h3>
				<table class="table table-bordered col-12" style="font-size:13px;">
					<tr>
						<th class="text-center">S.No</th>
						<th>Company Name & Standards</th>
						<th class="text-center">Assigned Date</th>
						<th class="text-center">Action</th>
					</tr>
					<tbody>					   						
						<tr *ngFor="let unit_withdraw_review_reassign of dashboardData.unit_withdraw_review_reassign; index as i">
							<td width="5%" scope="row" class="center">{{  1+ i }}</td>
							<td><a [routerLink]="['/change-scope/withdraw-unit/view']" [queryParams]="{id:unit_withdraw_review_reassign.id}"><span class="dashboard-title">{{ unit_withdraw_review_reassign.company_name }}</span></a><br><span *ngFor="let standard of unit_withdraw_review_reassign?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>					
							<td width="12%" class="text-center">{{ unit_withdraw_review_reassign.created_at }}</td>
							<td width="5%" class="text-center"><a [routerLink]="['/change-scope/withdraw-unit/view']" [queryParams]="{id:unit_withdraw_review_reassign.id,app:unit_withdraw_review_reassign.app_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
						</tr> 			
					</tbody>
				</table>
			</div>
		</ng-container>
		
		<div class="clearfix"></div>
		 
		<ng-container *ngIf="dashboardCustomerData">
			<div class="card-box enq-view m-t-20">
			<h3>Customer Pending Action / Waiting for Approval</h3>
			<mat-tab-group>
				<mat-tab *ngIf="dashboardCustomerData.pendingactions" label="Enquiry Waiting for Filling Application ({{dashboardCustomerData.pendingactions.length}})">
					<table class="table table-bordered col-12" style="font-size:13px;">
						<tr>
							<th class="text-center">S.No</th>
							<th>Company Name & Standards</th>
							<th class="text-center">Assigned Date</th>
							<th class="text-center">Action</th>
						</tr>
						<tbody>					   						
							<tr *ngFor="let pendingaction of dashboardCustomerData.pendingactions; index as i">
								<td  width="5%" scope="row" class="center">{{  1+ i }}</td>
								<td><a [routerLink]="['/enquiry/view']" [queryParams]="{id:pendingaction.id,type:1}"><span class="dashboard-title">{{ pendingaction.company_name }}</span></a><br><span *ngFor="let standard of pendingaction?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>				
								<td width="12%" class="text-center">{{ pendingaction.created_at }}</td>
								<td width="5%" class="text-center"><a [routerLink]="['/enquiry/view']" [queryParams]="{id:pendingaction.id,type:1}"><i class="fa fa-eye dashboard-viewicon"></i></a></td>	
							</tr> 			
						</tbody>
					</table>					
				</mat-tab>
			  
				<mat-tab *ngIf="dashboardCustomerData.re_initiate_pending_actions" label="Pending Reassigned Actions ({{dashboardCustomerData.re_initiate_pending_actions.length}})">
					<table class="table table-bordered col-12" style="font-size:13px;">
						<tr>
							<th class="text-center">S.No</th>
							<th>Company Name & Standards</th>
							<th class="text-center">Assigned Date</th>
							<th class="text-center">Action</th>
						</tr>
						<tbody>					   						
							<tr *ngFor="let re_initiate_pending_action of dashboardCustomerData.re_initiate_pending_actions; index as i">
								<td width="5%" scope="row" class="center">{{  1+ i }}</td>
								<td><a [routerLink]="['/application/apps/view']" [queryParams]="{id:re_initiate_pending_action.id}"><span class="dashboard-title">{{ re_initiate_pending_action.company_name }}</span></a><br><span *ngFor="let standard of re_initiate_pending_action?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></td>							
								<td width="12%" class="text-center">{{ re_initiate_pending_action.created_at }}</td>
								<td width="5%" class="text-center"><a [routerLink]="['/application/apps/view']" [queryParams]="{id:re_initiate_pending_action.id}"><i class="fa fa-eye dashboard-viewicon"></i></a></td>						
							</tr> 			
						</tbody>
					</table>					
				</mat-tab>
			
				<mat-tab *ngIf="dashboardCustomerData.offer_waiting_for_approvals" label="Offer Waiting for Approval ({{dashboardCustomerData.offer_waiting_for_approvals.length}})">
					<table class="table table-bordered col-12" style="font-size:13px;">
						<tr>
							<th class="text-center">S.No</th>
							<th>Company Name</th>
							<th class="text-center">Offer Code</th>
							<th class="text-center">No. of Manday</th>
							<th class="text-center">Total Fee</th>
							<th class="text-center">Created At</th>
							<th class="text-center">Action</th>
						</tr>
						<tbody>					   						
							<tr *ngFor="let offer_waiting_for_approval of dashboardCustomerData.offer_waiting_for_approvals; index as i">
								<td width="5%" scope="row" class="center">{{  1+ i }}</td>
								<td><a [routerLink]="['/offer/view-offer']" [queryParams]="{id:offer_waiting_for_approval.app_id,offer_id:offer_waiting_for_approval.id}"><span class="dashboard-title">{{ offer_waiting_for_approval.company_name }}</span></a></td>	
								<td width="12%" class="text-center">{{ offer_waiting_for_approval.offer_code }}</td>
								<td width="12%" class="text-center">{{ offer_waiting_for_approval.manday }}</td>
								<td width="12%" class="text-center">{{ offer_waiting_for_approval.currency}} {{ offer_waiting_for_approval.grand_total_fee }}</td>						
								<td width="10%" class="text-center">{{ offer_waiting_for_approval.created_at }}</td>
								<td width="5%" class="text-center"><a [routerLink]="['/offer/view-offer']" [queryParams]="{id:offer_waiting_for_approval.app_id,offer_id:offer_waiting_for_approval.id}"><i class="fa fa-eye dashboard-viewicon"></i></a></td>						
							</tr> 			
						</tbody>
					</table>					
				</mat-tab>
			
				<mat-tab *ngIf="dashboardCustomerData.audit_plan_waiting_for_approvals" label="Audit Plan Waiting for Approval ({{dashboardCustomerData.audit_plan_waiting_for_approvals.length}})">
					
					<table class="table table-bordered col-12" style="font-size:13px;">
						<tr>
							<th class="text-center">S.No</th>
							<th>Company Name</th>
							<th class="text-center">Offer Code</th>
							<th class="text-center">No. of Manday</th>
							<th class="text-center">Total Fee</th>
							<th class="text-center">Created At</th>
							<th class="text-center">Action</th>
						</tr>
						<tbody>					   						
							<tr *ngFor="let waiting_for_approvals of dashboardCustomerData.audit_plan_waiting_for_approvals; index as i">
								<td width="5%" scope="row" class="center">{{  1+ i }}</td>
								<td><a [routerLink]="['/audit/view-audit-plan']" [queryParams]="{id:waiting_for_approvals.id}"><span class="dashboard-title">{{ waiting_for_approvals.company_name }}</span></a></td>	
								<td width="10%" class="text-center">{{ waiting_for_approvals.offer_code }}</td>
								<td width="12%" class="text-center">{{ waiting_for_approvals.manday }}</td>
								<td width="12%" class="text-center">{{ waiting_for_approvals.currency}} {{ waiting_for_approvals.grand_total_fee }}</td>										
								<td width="10%" class="text-center">{{ waiting_for_approvals.created_at }}</td>
								<td width="5%" class="text-center"><a [routerLink]="['/audit/view-audit-plan']" [queryParams]="{id:waiting_for_approvals.id}"><i class="fa fa-eye dashboard-viewicon"></i></a></td>						
							</tr> 			
						</tbody>
					</table>					
				</mat-tab>

				<mat-tab *ngIf="dashboardCustomerData.audit_waiting_for_remediation" label="Audit Waiting for Remediation ({{dashboardCustomerData.audit_waiting_for_remediation.length}})">
					<table class="table table-bordered col-12" style="font-size:13px;">
						<tr>
							<th class="text-center">S.No</th>
							<th>Company Name</th>
							<th class="text-center">Created At</th>
							<th class="text-center">Action</th>
						</tr>
						<tbody>					   						
							<tr *ngFor="let waiting_for_remediation of dashboardCustomerData.audit_waiting_for_remediation; index as i">
								<td width="5%" scope="row" class="center">{{  1+ i }}</td>
								<td><a [routerLink]="['/audit/view-audit-plan']" [queryParams]="{id:waiting_for_remediation.audit_id}"><span class="dashboard-title">{{ waiting_for_remediation.company_name }}</span></a></td>					
								<td width="10%" class="text-center">{{ waiting_for_remediation.created_at }}</td>
								<td width="5%" class="text-center"><a [routerLink]="['/audit/view-audit-plan']" [queryParams]="{id:waiting_for_remediation.audit_id}"><i class="fa fa-hand-o-right dashboard-handicon"></i></a></td>						
							</tr> 			
						</tbody>
					</table>					
				</mat-tab>
				
			</mat-tab-group>
			</div>		
		</ng-container>	
					
		<!-- <div class="table-matrix">sir asked about mei perform out of 10 pls give me the rating
			
			
			<div class="clearfix"></div>
			
			
			<ul class="dashboard-items" *ngIf="dashboardData.enquiries">
				<li style="float: left;width: 100%;">
					<h2 class="dash-title"><span class="fa fa-line-chart"></span> Latest {{dashboardData.enquiries.length}} Enquiries</h2>
					<table class="table table-bordered col-12 w-auto m-t-10 m-r-10 m-l-10" style="font-size:13px;">
						<tbody>					   						
							<tr *ngFor="let enquiry of dashboardData.enquiries; index as i">
								<td width="2%" scope="row" class="center">{{  1+ i }}</td>
								<td>
								Company Name:&nbsp;<b>{{ enquiry.company_name }}</b>&nbsp;&nbsp;|&nbsp;&nbsp;Contact Name:&nbsp;<b>{{ enquiry.contact_name }}</b>&nbsp;&nbsp;|&nbsp;&nbsp;Telephone:&nbsp;<b>{{ enquiry.company_telephone }}</b><br>
								Country:&nbsp;<b>{{ enquiry.company_country_id }}</b>&nbsp;&nbsp;|&nbsp;&nbsp;Standards:&nbsp;<b><span *ngFor="let standard of enquiry?.standards; let isLast=last;" >{{ standard }} {{isLast ? '' : ', '}}</span></b>&nbsp;&nbsp;|&nbsp;&nbsp;Date:&nbsp;<b>{{ enquiry.created_at }}</b>
								</td>													
								<td width="2%" class="text-center">
									<a [routerLink]="['/enquiry/view']" (click)="setStorageVal()" [queryParams]="{id:enquiry.id}"><span class="ti-eye"></span></a>
								</td>						
							</tr> 			
						</tbody>
					</table>
					
				</li>					
			</ul>			
        </div> -->
        
        
			
	</div>
</div>		

<!-- <mat-tab-group>
		<mat-tab label="Application Waiting for Review Submission">
			<mat-tab-group>
				<mat-tab label="Submit for Review">			
					
				</mat-tab>
				<mat-tab label="Assign as Application Approval">			
					<p>...</p>
				</mat-tab>
			
				<mat-tab label="Assign as Contract Review">			
					<p>...</p>
				</mat-tab>
				<mat-tab label="Assign as Contract Approval">			
					<p>...</p>
				</mat-tab>
			</mat-tab-group>	
		</mat-tab>
		<mat-tab label="Waiting for Approval">    
			<mat-tab-group>
				<mat-tab label="Application Review">			
					<p>...</p>
				</mat-tab>
				<mat-tab label="Application Approval">			
					<p>...</p>
				</mat-tab>
			
				<mat-tab label="Contract Review">			
					<p>...</p>
				</mat-tab>
				<mat-tab label="Contract Approval">			
					<p>...</p>
				</mat-tab>
			</mat-tab-group>	
		</mat-tab>
	</mat-tab-group> -->