<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 logo">
                <img src="assets/images/login-logo.png" alt="">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 m-rgt">
                
                       
                                <p class="m-0">
                                        <span>celebrating 25 years in 2019</span>
                                        <br>servicing clients in over 50 countries across 5 continents
                                </p>        
                      
                        
                    <!--><div class="row"> 
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center p-3 head-cont">
                        <p>50 countries
                            <br> 5 continents
                            <br>
                            <span> CELEBRATING 25 YEARS IN 2019</span>
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 head-cont">
                        <p class="m-0">
                            <span>GCL INTERNATIONAL PVT, LID.</span>
                            <br> No. 11/4, Pooja Garden, Kalapatti Main Road,
                            <br> Civil Aerodrome post,
                            <br> Coimbatore-641014,
                            <br> Tamilnadu, India.</p>
                    </div>  
                    </div><!-->
               
            </div>
        </div>

    </div>
</header>